<ion-view view-title="Lista de Afazeres" align-title="center" class="flat">
      <div class="bar bar-subheader dark-bg barbicha lil_h1">
        	<h1 class="title">{{nome}}</h1>
      </div>
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="rebaixado encolhido">
    	<ion-list>
            <ion-item class="item bottom-plus item-button-right" ng-repeat="task in listCheck">
            <div class="tipple" ng-click="!asInvited && doneClicked($index, task)" >
            <i class="icon ion-android-checkbox-outline-blank chegaprala minus white-so" ng-show="!task.done"></i>
            <i class="icon ion-android-checkbox-outline chegaprala minus white-so" ng-show="task.done"></i>
            <span class="newIt"><strong>{{task.item}}</strong></span>
            </div>
            <div class="buttons">
              <i class="icon ion-edit white-so" ng-hide="asInvited" ng-click="editTask($index, task)" ></i>
            </div>
            </ion-item>
    	</ion-list>
    </ion-content>
     <button id="fab-profile" ng-hide="asInvited" class="button button-fab button-fab-bottom-right button-energized-900 myred abaixafab" ng-click="showTaskPrompt()">
      <i class="icon ion-plus"></i>
      </button>
</ion-view>

<!--
            <ion-item class="item item-icon-right" ng-repeat="task in listCheck">              <ion-checkbox class="item-checkbox-left checkroyal" ng-class="{complete: task.done == true}" class="item-text-wrap" ng-checked="task.done" ng-click="doneClicked($index, task)"><span class="newIt"><strong>{{task.item}}</strong></span></ion-checkbox>
              <i class="icon ion-edit minus assertive" ng-click="editTask($index, task)" ></i>
            </ion-item>
-->
