<ion-view view-title="Assinaturas" align-title="center" class="flat">
    <ion-content padding ng-class="{expanded:$scope.isExpanded}" class="encolhido">
      <div ng-show="!pagante">
        <h2 class="rambling">Seja um(a) Assinante Yuppi</h2>
        <h3 class="mini-rambling text-center">Teste 15 dias gratuitamente.</h3>
        <ion-item class="item-text-wrap text-center">
      		<p>Escolha um dos planos abaixo e comece imediatamente a usar todas as funcionalidades do nosso aplicativo e gerenciar os seus eventos até o último detalhe!</p>
        </ion-item>

      	<ion-item>
      		<h2 class="rambling">Planos</h2>
        </ion-item>

        <ion-item ng-click="getPlano('mensal')">
          <div class="row maior">
            <div class="col col-20 positive">
              <i class="icon ion-android-checkbox-outline-blank chegaprala minus" ng-show="!mensal"></i>
              <i class="icon ion-android-checkbox-outline chegaprala minus" ng-show="mensal"></i>
            </div>
            <div class="col col-50 positive">Plano Mensal</div>
            <div class="col col-30 positive"><strong>R$69,90/mês</strong></div>
          </div>
        </ion-item>
        <ion-item ng-click="getPlano('semestral')">
          <div class="row maior">
            <div class="col col-20 positive">
              <i class="icon ion-android-checkbox-outline-blank chegaprala minus" ng-show="!semestral"></i>
              <i class="icon ion-android-checkbox-outline chegaprala minus" ng-show="semestral"></i>
            </div>
            <div class="col col-50 positive">Plano Semestral</div>
            <div class="col col-30 positive"><strong>R$59,90/mês</strong></div>
          </div>
        </ion-item>
        <ion-item ng-click="getPlano('anual')">
          <div class="row maior">
            <div class="col col-20 positive">
              <i class="icon ion-android-checkbox-outline-blank chegaprala minus" ng-show="!anual"></i>
              <i class="icon ion-android-checkbox-outline chegaprala minus" ng-show="anual"></i>
            </div>
            <div class="col col-50 positive">Plano Anual</div>
            <div class="col col-30 positive text-right"><strong>R$49,90/mês</strong></div>
          </div>
        </ion-item>
        <!--
        <ion-item text-center>
        	<br/>
        	<img src="img/signBut.png" ng-click="masterPlan()"></img>
        </ion-item>
        -->
      <div class="col">
        <button ng-click="masterPlan()" class="button button-full button-assertive-900 myred ink">Assinar</button>
      </div>
      </div>
  <div ng-show="pagante">
  <div class="row">
    <div class="col">
      <h2 class="rambling">Você já é Assinante Yuppi</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <div class="icon-finale afana"><img src="img/app_logo.png" alt=""></div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4 class="big_red text-center">Aproveite todas as vantagens do seu aplicativo Yuppi.</h4>
      <button ng-click="bye()" class="button button-full button-assertive-900 myred ink">Sair</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="mini-rambling"><a ng-click="cancelMe()">Cancelar Plano</a></h2>
    </div>
  </div> 
      </div>
    </ion-content>
</ion-view>
