<ion-view view-title="Assinaturas" align-title="center" class="flat">
  <ion-content padding ng-class="{expanded:$scope.isExpanded}" class="encolhido">
    <div ng-show="!pagante">
      <h2 class="rambling" style="margin-top: 15px; margin-bottom: 20px;">Seja um(a) Assinante Yuppi</h2>
      <ion-slides options="options" slider="data.slider">
          <ion-slide-page ng-repeat="(key, product) in assinaturas">
              <ion-item><img src={{badge[key]}} style="width: 150px; height: 150px; display: block; margin: auto;"></ion-item>
              <h4 class="mini-rambling">{{ product.title }}</h4>
              <ion-item class="item-text-wrap text-center">
                <p>{{ description[key] }}</p>
              </ion-item>
              <button class="button button-full button-positive-900 ink" ng-click="buy(product.productId)">
                Assinar - {{ product.currency }} {{ product.priceAsDecimal }}
              </button>
          </ion-slide-page>
      </ion-slides>
      <ion-card>
    <div class="col">
      <h4 class="big_red text-center">Faça uma avaliação gratuita por 14 dias de todas as vantagens do seu aplicativo Yuppi. Você só será cobrado no fim deste período, podendo cancelar quando quiser.</h4>
    </div>
    </div>
<div ng-show="pagante">
<div class="row">
  <div class="col">
    <h2 class="rambling">Você já é Assinante Yuppi</h2>
  </div>
</div>
<div class="row">
  <div class="col">
      <div class="icon-finale afana"><img src="img/app_logo.png" alt=""></div>
  </div>
</div>
<div class="row">
  <div class="col">
    <h4 class="big_red text-center">Aproveite todas as vantagens do seu aplicativo Yuppi.</h4>
  </div>
</div> 
    </div>
  </ion-content>
</ion-view>
