<ion-view view-title="Calendário" align-title="center" class="flat">
    <ion-content class="has-header topito pane no-border" ng-class="{expanded:$scope.isExpanded}">
<div class="spaced abasso text-center">
      <h4 class="big_red newIt">{{indicator}}{{viewTitle}}</h4>
</div>
<div class="button-bar">
  <a class="button button-small button-assertive myred" ng-disabled="isToday()" ng-click="today()">Retornar para Hoje</a>
  <!--
  <a class="button button-small button-assertive myred" ng-click="changeMode('month')">Mês</a>
  <a class="button button-small button-assertive myred" ng-click="changeMode('week')">Semana</a>
  -->
</div>
<calendar ng-model="calendar.currentDate" calendar-mode="calendar.mode" title-changed="onViewTitleChanged(title)" event-source="calendar.eventSource" event-selected="onEventSelected(event)" title-changed="onViewTitleChanged(title)"
 time-selected="onTimeSelected(selectedTime, events, disabled)" step="30">></calendar>
</ion-content>
<!--
<ion-footer-bar>
  <div class="button-bar meet">
    <a style="min-height: 44px; min-width: 50%;border-radius: 0px;" class="button button-assertive myred flat" ng-click="seeEvt()" ng-disabled="noMeetings">Eventos</a>
    <a style="min-height: 44px; min-width: 50%;border-radius: 0px;"  class="button button-assertive myred flat" ng-click="seeMeet()" ng-disabled="!noMeetings">Reuniões</a>
  </div>
</ion-footer-bar>
-->
</ion-view>
