<ion-view view-title="Entre em Contato" align-title="center" class="flat">
    <div class="bar bar-subheader dark-bg barbicha lil_h1">
            <h1 class="title">Comentários e sugestões</h1>
    </div>
    <ion-content padding ng-class="{expanded:$scope.isExpanded}" class="rebaixado encolhido">
        <ion-item class="item-text-wrap text-center">
              <h3>Preencha os campos abaixo</br> e deixe suas impressões sobre o Yuppi </br>e como podemos melhorá-lo</h3>        
              <label class="item item-input item-floating-label">
                <span class="input-label">Nome</span>
                <input type="text" placeholder="Nome" ng-model="nome">
              </label>
              <label class="item item-input item-floating-label">
                    <span class="input-label">Mensagem</span>
                 <textarea placeholder="escreva aqui" ng-model="intento"></textarea>
              </label>
              <br/>
        <div class="col col-center">
                <button class="button button-small button-positive-900" ng-click="sendMail(nome, intento)">
                  Enviar
                </button>
        </div>
        </ion-item>
    </ion-content>
</ion-view>