<ion-view view-title="Cronograma festa infantil">
<div class="bar bar-subheader dark-bg barbicha_tab lil_h1">
          <h1 class="title white-so">{{nome}}</h1>
      </div>

<ion-content ng-class="{expanded:$scope.isExpanded}">
  <div class="backed">
      <ion-tabs class="tabs-striped tabs-top tabs-background-red backed">
            <ion-tab class="white-so" title="Pré-festa" on-select="tabSelected('pre')">
                <ion-nav-view name="tab-1">
                     <div ng-include src="'templates/tabs_infantil/prelista.html'"></div>
                </ion-nav-view>
            </ion-tab>
            <ion-tab class="white-so" title="Festa" on-select="tabSelected('party')">
                <ion-nav-view name="tab-3">
                  <div ng-include src="'templates/tabs_infantil/festalista.html'"></div>
                </ion-nav-view>
            </ion-tab>
       </ion-tabs>
  </div>
</ion-content>
     <button id="fab-profile" ng-hide="asInvited" class="button button-fab button-fab-bottom-right button-energized-900 myred abaixafab" ng-click="showTaskPrompt()">
      <i class="icon ion-plus"></i>
      </button>
</ion-view>
