<ion-view view-title="Cronograma">
      <div class="bar bar-subheader dark-bg barbicha lil_h1">
          <h1 class="title">{{nome}}</h1>
      </div>
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="rebaixado">
      <div class="encolhido">
          <ion-list>
            <ion-item class="item item-button-right" ng-repeat="task in listCheck | orderBy: 'time'">
            <div class="tipple" ng-click="doneClicked($index, task)" >
            <span class="newIt" ng-class="{complete: task.done == true}"><strong>{{task.item}}</strong></span><br>
              <span ng-class="{complete: task.done == true}">{{task.time | date: "HH:mm"}}</span>
              </div>
            <div class="buttons">
              <i class="icon ion-edit white-so" ng-hide="asInvited" ng-click="editTask($index, task)" ></i>
              </div>
            </ion-item>
          </ion-list>
        </div>
    </ion-content>
     <button id="fab-profile" ng-hide="asInvited" class="button button-fab button-fab-bottom-right button-energized-900 myred abaixafab" ng-click="showTaskPrompt()">
      <i class="icon ion-plus"></i>
      </button>
</ion-view>
