<ion-view view-title="Cronograma casamento">
      <div class="bar bar-subheader dark-bg barbicha_tab lil_h1">
        	<h1 class="title white-so">{{nome}}</h1>
      </div>
 <ion-floating-button ng-show="actualTab != 'ceremony'" click="showTaskPrompt()" ng-hide="asInvited" has-footer="false" button-color="#ae5051" icon="ion-plus">
</ion-floating-button>
 <ion-floating-menu ng-hide="actualTab != 'ceremony'" button-color="#5e0309" menu-color="#5e0309" menu-open-color="#5e0309">
        <ion-floating-item icon="ion-person-stalker" click="bestManPrompt()" button-color="#5e0309" text="Adicionar lista de padrinhos" text-class="bitRed"></ion-floating-item>
        <ion-floating-item icon="ion-checkmark" click="showTaskPrompt()" button-color="#5e0309" text="Adicionar novo item" text-class="bitRed"></ion-floating-item>
    </ion-floating-menu>
<ion-content ng-class="{expanded:$scope.isExpanded}">
  <div class="backed">
      <ion-tabs class="tabs-striped tabs-top tabs-background-red backed">
            <ion-tab class="white-so" title="Pré-casamento" on-select="tabSelected('pre')">
                <ion-nav-view name="tab-1">
                     <div ng-include src="'templates/tabs_casamento/prelista.html'"></div>
                </ion-nav-view>
            </ion-tab>
            <ion-tab class="white-so" title="Cerimônia" on-select="tabSelected('ceremony')">
                <ion-nav-view name="tab-2">
                    <div ng-include src="'templates/tabs_casamento/casalista.html'"></div>
                  </ion-nav-view>
            </ion-tab>
            <ion-tab class="white-so" title="Festa" on-select="tabSelected('party')">
                <ion-nav-view name="tab-3">
                  <div ng-include src="'templates/tabs_casamento/festalista.html'"></div>
                </ion-nav-view>
            </ion-tab>
       </ion-tabs>
  </div>
</ion-content>
      <!--
     <button id="fab-profile" class="button button-fab button-fab-bottom-right button-energized-900 myred abaixafab" ng-click="showTaskPrompt()">
      <i class="icon ion-plus"></i>
      </button>
      -->
</ion-view>
