<ion-view view-title="Dados" align-title="center" class="flat">
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="rebaixado encolhido">
      conteúdo de dados
    </ion-content>
</ion-view>