<ion-view cache-view="false" view-title="Editar Evento">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
<div class="englobaMinusTime">
      <h4 class="big_red">Informações Gerais</h4>
</div>
<!--<form name="editionEvt">-->
<div class="list">
  <label class="item item-input">
    <span class="input-label big_red_evt">Nome</span>
    <input type="text" ng-model="editedEvt.name">
  </label>
    <label class="item item-input ">
    <span class="input-label big_red_evt">Data do Evento</span>
    <input type="date" ng-model="itemDate.value" date-format="DD/MM/YYYY">
  </label>     
  <label class="item item-input ">
    <span class="input-label big_red_evt">Horário do Evento</span>
    <input type="time" ng-model="itemTime.value" date-format="HH:mm">
  </label>     
    <label class="item item-input item-stacked-label">
    <span class="input-label big_red_evt">Local do Evento</span>
    <input type="text" ng-model="editedEvt.place">
  </label> 
  <div ng-hide="true"> 
<label class="item item-input item-select ">
    <div class="input-label big_red_evt">
      Tipo de Evento
    </div>
    <select ng-model="mySelect" ng-change="changeEventType(mySelect)">
      <option>Clique para escolher</option>
      <option>Casamento</option>
      <option>Festa Infantil</option>
      <option>Corporativo</option>
      <option>Social</option>
      <option>Outro</option>
    </select>
  </label>
  <label class="item item-input item-stacked-label" ng-hide="evtPreCad">
    <span class="input-label big_red" style="font-weight: bold" >Que outro tipo de Evento?</span>
    <input type="text" placeholder="Descreva aqui" ng-model="editedEvt.evtType">
  </label>
  </div>
 <label class="item item-input item-stacked-label mini-label" ng-hide="naocasorio">
    <span class="input-label big_red">Horário da Cerimonia</span>
    <input type="time" ng-model="churchTime.value" date-format="HH:mm">
  </label>
  <label class="item item-input item-stacked-label mini-label" ng-hide="naocasorio">
      <span class="input-label big_red">Horário da Festa</span>
      <input type="time" ng-model="partyTime.value" date-format="HH:mm">
    </label>
 <!--   
 <ion-checkbox ng-model="editedEvt.unique_invites" ng-change="monClick()"><span class="big_red vade">Convites Únicos</span> (Um convite por pessoa)</ion-checkbox>       
 -->
 <div class="englobaMinusTime" ng-show="naocasorio">
      <h4 class="big_red">Informações do Cliente</h4>
</div>
 <div class="englobaMinusTime" ng-hide="naocasorio">
      <h4 class="big_red">Dados do noivo</h4>
</div> 
  <label class="item item-input item-stacked-label">
    <span class="input-label big_red">Nome</span>
    <input type="text" placeholder="Inserir Nome" ng-model="editedEvt.client_name">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label big_red">Telefone</span>
    <input type="tel" placeholder="Inserir Telefone" ng-model="editedEvt.client_phone">
  </label>  
  <label class="item item-input item-stacked-label">
    <span class="input-label big_red">Email</span>
    <input type="email" placeholder="Inserir Email" ng-model="editedEvt.client_mail">
  </label>
 <div class="englobaMinusTime" ng-show="naocasorio">
      <h4 class="big_red">Segundo cliente (se houver)</h4>
</div>
 <div class="englobaMinusTime" ng-hide="naocasorio">
      <h4 class="big_red">Dados da noiva</h4>
</div> 
  <label class="item item-input item-stacked-label">
    <span class="input-label big_red">Nome</span>
    <input type="text" placeholder="Inserir Nome" ng-model="editedEvt.client2_name">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label big_red">Telefone</span>
    <input type="tel" placeholder="Inserir Telefone" ng-model="editedEvt.client2_phone">
  </label>  
  <label class="item item-input item-stacked-label">
    <span class="input-label big_red">Email</span>
    <input type="email" placeholder="Inserir Email" ng-model="editedEvt.client2_mail">
  </label>
  <div class="englobaMinusTime" ng-show="naocasorio">
        <h4 class="big_red">Contatos extras</h4>
  </div>

  <div class="englobaMinusTime" ng-hide="naocasorio">
        <h4 class="big_red">Pais do noivo</h4>
  </div>
  <div class="item">
  <div class="row">
  <div class="col col-50">
      <label class="item item-input-inset brag_no">
        <i class="icon ion-person-add placeholder-icon"></i>
        <input type="text" placeholder="Nome" ng-model= editedEvt.cont01Nome>
      </label>
  </div>
  <div class="col col-50">
      <label class="item item-input-inset brag_no">
        <i class="icon ion-android-call placeholder-icon"></i>
        <input type="tel" placeholder="Telefone" ng-model= editedEvt.cont01Phone>
      </label>
  </div>
  </div>  
  </div> 
    <div class="item">
  <div class="row">
  <div class="col col-50">
      <label class="item item-input-inset brag_no">
        <i class="icon ion-person-add placeholder-icon"></i>
        <input type="text" placeholder="Nome" ng-model= editedEvt.cont02Nome>
      </label>
  </div>
  <div class="col col-50">
      <label class="item item-input-inset brag_no">
        <i class="icon ion-android-call placeholder-icon"></i>
        <input type="tel" placeholder="Telefone" ng-model= editedEvt.cont02Phone>
      </label>
  </div>
  </div>  
  </div>
<div class="englobaMinusTime" ng-hide="naocasorio">
        <h4 class="big_red">Pais da noiva</h4>
  </div>
     <div class="item"> 
    <div class="row">
  <div class="col col-50">
      <label class="item item-input-inset brag_no">
        <i class="icon ion-person-add placeholder-icon"></i>
        <input type="text" placeholder="Nome" ng-model= editedEvt.cont03Nome>
      </label>
  </div>
  <div class="col col-50">
      <label class="item item-input-inset brag_no">
        <i class="icon ion-android-call placeholder-icon"></i>
        <input type="tel" placeholder="Telefone" ng-model= editedEvt.cont03Phone>
      </label>
  </div>
  </div>  
  </div> 
    <div class="item">
  <div class="row">
  <div class="col col-50">
      <label class="item item-input-inset brag_no">
        <i class="icon ion-person-add placeholder-icon"></i>
        <input type="text" placeholder="Nome" ng-model= editedEvt.cont04Nome>
      </label>
  </div>
  <div class="col col-50">
      <label class="item item-input-inset brag_no">
        <i class="icon ion-android-call placeholder-icon"></i>
        <input type="tel" placeholder="Telefone" ng-model= editedEvt.cont04Phone>
      </label>
  </div>
  </div>  
  </div> 
  <div via-cep-form>
<!-- contrato -->
  <div class="englobaMinusTime" ng-show="naocasorio">
      <h4 class="big_red">Informações para Contrato</h4>
</div> 
  </label>     
    <label class="item item-input item-stacked-label">
    <span class="input-label big_red_evt">Nome Completo</span>
    <input type="text" ng-model="editedEvt.client_name_comp">
  </label>
  </label>     
    <label class="item item-input item-stacked-label">
    <span class="input-label big_red_evt">CPF</span>
    <input type="text" placeholder="XXX.XXX.XXX-XX" ng-model="editedEvt.client_cpf">
  </label>
  </label>     
    <label class="item item-input item-stacked-label">
    <span class="input-label big_red_evt">RG</span>
    <input type="text" ng-model="editedEvt.client_rg">
  </label>
  </label>     
    <label class="item item-input item-stacked-label">
    <span class="input-label big_red_evt">CEP</span>
    <input type="text" ng-model="editedEvt.client_cep" via-cep="cep">
  </label>
  </label>     
    <label class="item item-input item-stacked-label">
    <span class="input-label big_red_evt">Endereço</span>
    <input type="text" placeholder="Endereço" ng-model="editedEvt.client_ender" via-cep="logradouro">
  </label>
  </label>     
    <label class="item item-input item-stacked-label">
    <span class="input-label big_red_evt">Complemento</span>
    <input type="text" placeholder="nº, apto" ng-model="editedEvt.client_ender2">
  </label>
  </label>     
    <label class="item item-input item-stacked-label">
    <span class="input-label big_red_evt">Bairro</span>
    <input type="text" placeholder="Bairro" ng-model="editedEvt.client_neigh" via-cep="bairro">
  </label>
  </label>     
    <label class="item item-input item-stacked-label">
    <span class="input-label big_red_evt">Cidade</span>
    <input type="text" placeholder="Cidade" ng-model="editedEvt.client_city" via-cep="localidade">
  </label>
  </label>     
    <label class="item item-input item-stacked-label">
    <span class="input-label big_red_evt">Estado</span>
    <input type="text" placeholder="UF" ng-model="editedEvt.client_uf" via-cep="uf">
  </label>
  </div> 
  <!-- botões -->
  <div class="item">
     <div class="buttons text-right">
         <button class="button button-fab button-assertive myred awayBut" ng-click="vambora()">
         <i class="icon ion-close"></i>
        </button>   
        <button type="submit" class="button button-fab button-positive-900" ng-click="marcador(editedEvt)">
            <i class="icon ion-checkmark"></i>
        </button>
    </div>
  </div>
</div>
<!--</form>-->
    </ion-content>
</ion-view>