<ion-view view-title="Eventos" align-title="center" class="flat">
 <ion-floating-button click="mandapraNovo()" has-footer="false" button-color="#ae5051" icon="ion-plus">
</ion-floating-button>
<div ng-show="timePaster">
<div class="bar bar-subheader barbicha item-input-inset item-icon-left white-bg" ng-show="temEventos">
<i class="icon ion-search placeholder-icon newgray"></i>
            <input type="text" placeholder=" Buscar evento" ng-model="search.name"
                  style="width:100%; padding-left:11px; background: transparent;" />

</div>
      <ion-content ng-class="{expanded:$scope.isExpanded, 'has-header-fab-left': hasHeaderFabLeft}" class="rebaixado encolhido">
      <div class="row row-center">
        <div class="col col-center text-center" style="padding-top: 80px;" ng-show="!temEventos">
          <h2 style="font-weight:900">Sem Eventos</h2><br>
          <h4 class="title desprega lil_red">Clique no botão abaixo para adicionar um evento.</h4>
        </div>
      </div>

    <div>

      <ion-list>
        <ion-item class="item-icon-left item-button-right item-text-wrap ink" ng-repeat="evento in tuttiEventi | orderBy:'-compareDate' | filter: search" ng-class="{'passado' :evento.past == false}">
        <div ng-click="clicked(evento)">
          <i class="icon ion-ios-arrow-right"></i>
         <strong class="newIt">{{evento.name}}</strong><br>
          <span class="miniNewIt">{{evento.evtDay | date:'dd/MM/YYYY'}}</span>
          </div>
              <div class="buttons">
                <button class="button button-clear desbutonico" ng-click="clickToView(evento)"><i class="icon ion-edit minus white-so retornete"></i></button>
                <button class="button button-clear desbutonico" ng-click="delEvento(evento)"> <i class="icon ion-close-circled minus white-so retornete"></i></button>
              </div>
        </ion-item>
      </ion-list>
    </div>
       <div style="min-height: 100px;">
    </div>
  </div>

    </ion-content>
</ion-view>
