
<ion-view view-title="Recuperar senha">
    <ion-content ng-hide={{hider}}>
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon afana"><img src="img/app_logo.png" alt=""></div>
            </div>
        </div>
          <div class="padding">
          <br><br>        
        <div class="list">
          <form name="forgot_password_form" class="" novalidate>
            <div class="item item-body" style="border: none;">
              <label class="item item-input">
                <input type="email" placeholder="Email" name="user_email" ng-model="user.email" required>
              </label>
            </div>
            <div class="item item-body bottom-content"  style="border: none;">
              <button type="submit" class="button button-full button-assertive-900 myred ink" ng-click="recoverPassword()" ng-disabled="forgot_password_form.$invalid">
                Recuperar senha
              </button>

                      <span style="font-size: 12px; color: #0c0c0c; text-align: right;"><a ui-sref="login">voltar</a></span>
            </div>
          </form>
        </div>
        </div>
    </ion-content>     
</ion-view>