<ion-view view-title="Fornecedores">
      <div class="bar bar-subheader dark-bg barbicha lil_h1">
          <h1 class="title">{{nome}}</h1>
      </div>

 
 <ion-floating-menu button-color="#ae5051" menu-color="#5e0309" menu-open-color="#ae5051" ng-hide="asInvited" >
        <ion-floating-item icon="ion-person-stalker" click="showTaskPrompt()" button-color="#ae5051" text="Adicionar novo fornecedor" text-class="bitRed"></ion-floating-item>
        <ion-floating-item icon="ion-bookmark" click="captaContact()" button-color="#ae5051" text="Adicionar de seus contatos" text-class="bitRed"></ion-floating-item>
    </ion-floating-menu>        
    <ion-content ng-class="{expanded:$scope.isExpanded, 'has-header-fab-left': hasHeaderFabLeft}" class="rebaixado encolhido">
      <div class="item-input-inset item-icon-left">
          <i class="icon ion-search placeholder-icon newgray"></i>
            <input type="text" placeholder=" Buscar por nome" ng-model="search.nome" 
                  style="width:100%; padding-left:11px, padding-top:3px; padding-right:3px; padding-bottom:3px; background-color: transparent;" />

      </div> 
 <div class="item text-center med_red">
      <span class="newIt"><strong>Clique no fornecedor para detalhes</strong></span>
</div> 
    <ion-list>
      <ion-item class="item-icon-left item-text-wrap item-button-right" ng-repeat="crew in listCheck | filter: search">
        <i class="icon ion-person"></i>
       <span class="newIt" ng-click="showTask($index, crew)"><strong>{{crew.nome}}</strong></span><br>
        <span ng-click="showTask($index, crew)">{{crew.tipo}} &nbsp;</span>
            <div class="buttons">
            <button  class="button redii btn-circle" ng-click="dialNumber(crew.tel)"><i class="icon ion-ios-telephone"></i>  </button >
            <button class="button button-clear desbutonico" ng-hide="asInvited"  ng-click="editTask($index, crew)"><i class="icon ion-edit white-so retornete"></i></button>
            </div>      
      </ion-item>    
    </ion-list>
    <div style="min-height: 100px;">    
    </div>
    </ion-content>
    <!--
    <button id="fab-profile" class="button button-fab button-fab-top-right button-assertive-900 myred abaixafab" ng-click="showTaskPrompt()">
      <i class="icon ion-person-add"></i>
      </button>
    -->  
</ion-view>