<ion-view view-title="Galeria de Fotos" align-title="center" class="flat">
 <ion-floating-button click="InsertMorePhotos()" has-footer="false" button-color="#ae5051" icon="ion-plus">
</ion-floating-button> 
	<ion-content>
        <ion-list>
          <ion-item ng-repeat="ilusion in imaginarium" class="inflate">
                    <div class="supper">
                            <i class="icon icon ion-trash-a whit" ng-click="delImg($index)"></i>
                    </div>
                    <img class="brander" ng-src="{{ilusion.src}}">
          </ion-item>
        </ion-list>
	</ion-content>
</ion-view>