<ion-view view-title="Eventos que você colabora" align-title="center" class="flat">
<div ng-show="timePaster">
<div class="bar bar-subheader barbicha item-input-inset item-icon-left" ng-show="temEventos">
<i class="icon ion-search placeholder-icon assertive minus"></i>
            <input type="text" placeholder=" Buscar evento" ng-model="search.name" 
                  style="width:100%; padding-left:11px; background: transparent;" />

</div> 
      <ion-content ng-class="{expanded:$scope.isExpanded, 'has-header-fab-left': hasHeaderFabLeft}" class="rebaixado encolhido">
      <div class="row row-center">
        <div class="col col-center text-center" style="padding-top: 80px;" ng-show="!temEventos">
          <h2 style="font-weight:900">Nenhum Evento Encontrado</h2><br>
        </div>
      </div>

    <div>

      <ion-list>
        <ion-item class="item-icon-left item-text-wrap ink" ng-repeat="evento in tuttiEventi | orderBy:dia | filter: search">
        <div ng-click="clicked(evento)">
          <i class="icon ion-ios-arrow-right"></i>
         <span class="newIt"><strong>{{evento.name}}</strong></span><br>
          {{evento.evtDay | date:'dd/MM/YYYY'}}
          </div>
        </ion-item>
      </ion-list>
    </div>
  </div>
    <div style="min-height: 100px;">    
    </div>  
    </ion-content>
</ion-view>