
<ion-view view-title="Login">
    <ion-content ng-hide={{hider}} class="log-back">
        <div class="hero no-header flat">
         <div class="middle-form">   
            <div class="content">

                <div class="app-icon afana"><img src="img/app_logo.png" alt=""></div>
                <div class="list">
                <label class="item item-input item-floating-label item-log">
                <span class="input-label">Email</span> <input type="email" placeholder="Email" ng-model="user.email"> </label>
                <label class="item item-input item-floating-label item-log">
                <span class="input-label">Senha</span> <input type="password" placeholder="Senha" ng-model="user.password"> </label>
                </div>

                <button ng-click="registro_simples(user)" class="button button-full button-assertive-900 myred ink">Entrar ou Cadastrar</button>
                <br/>
                <span style="font-size: 12px; color: #0c0c0c; text-align: right; margin-top: 35px;"><a ui-sref="forgot-password">Esqueceu sua senha?</a></span>

            </div>
        </div>
    </ion-content>
</ion-view>
    