<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="dark-bg" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="center">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="fabContent"></ion-nav-view>
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="dark-bg expanded maior white-bg">
            <!--
            <span class="avatar" style="background: url({{foto}}) center; background-size: cover;"></span>-->
            <h2>{{nome}}</h2>
            <h3>{{themail}}</h3>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-menu white-bg">

            <ion-list class="bigger">
                <ion-item item-type="item-icon-left" nav-clear menu-close ui-sref="app.eventos" class="noback">
                    <i class="ion-bowtie icon_far"></i> Meus Eventos
                </ion-item>
                <ion-item item-type="item-icon-left" nav-clear menu-close ui-sref="app.calendario" class="noback">
                    <i class="icon ion-calendar icon_far"></i> Calendário
                </ion-item>
                <ion-item item-type="item-icon-left" nav-clear menu-close ui-sref="app.grupo" class="noback">
                    <i class="icon ion-android-person icon_far"></i> Colaborando em Eventos
                </ion-item>
                <ion-item item-type="item-icon-left" nav-clear menu-close ui-sref="app.perfil" class="noback">
                    <i class="icon ion-android-person icon_far"></i> Perfil
                </ion-item>
                <ion-item item-type="item-icon-left" nav-clear menu-close ui-sref="app.assinaturas" class="noback" ng-hide="actualPlatform">
                    <i class="icon ion-card icon_far"></i> Assinatura
                </ion-item>
                <ion-item item-type="item-icon-left" nav-clear menu-close ui-sref="app.assinaturasIOS" class="noback" ng-hide="!actualPlatform">
                    <i class="icon ion-card icon_far"></i> Assinatura
                </ion-item>
                <ion-item item-type="item-icon-left" nav-clear menu-close ui-sref="app.contato" class="noback">
                    <i class="icon ion-paper-airplane icon_far"></i> Entre em Contato
                </ion-item>
                <ion-item item-type="item-icon-left" nav-clear menu-close href="https://yuppi.app/termos-de-uso/" class="noback">
                    <i class="icon ion-bookmark icon_far"></i> Termos de Uso
                </ion-item>
                <ion-item item-type="item-icon-left" nav-clear menu-close href="https://yuppi.app/politica-de-privacidade-2/" class="noback">
                    <i class="icon ion-briefcase icon_far"></i> Pol. Privacidade
                </ion-item>
                <ion-item item-type="item-icon-left" nav-clear menu-close ui-sref="app.logout" class="noback">
                    <i class="icon ion-power icon_far"></i> Logout
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
