<ion-view cache-view="false" view-title="Novo Evento">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
<div class="englobaMinusTime">
      <h4 class="white-so">Informações Gerais</h4>
</div>
<form>
<div class="encolhido branquito">
<div class="list">
  <label class="item item-input branquito">
    <span class="input-label big_red_evt">Nome*</span>
    <input type="text" placeholder="Nome do Evento" ng-model="newEvt.name">
  </label>
    <label class="item item-input branquito">
    <span class="input-label big_red_evt">Data do Evento</span>
    <input type="date" ng-model="itemDate.value" date-format="DD/MM/YYYY">
  </label>     
  <label class="item item-input branquito">
    <span class="input-label big_red_evt">Horário do Evento</span>
    <input type="time" ng-model="itemTime.value" date-format="HH:MM">
  </label>     
  <label class="item item-input branquito item-stacked-label">
    <span class="input-label big_red_evt">Local do Evento*</span>
    <input type="text" placeholder="Local do Evento" ng-model="newEvt.place">
  </label>
<label class="item item-input branquito item-select ">
    <div class="input-label big_red_evt">
      Tipo de Evento
    </div>
    <select ng-model="mySelect" ng-change="changeEventType(mySelect)">
      <option>Clique para escolher</option>
      <option>Casamento</option>
      <option>Festa Infantil</option>
      <option>Corporativo</option>
      <option>Social</option>
      <option>Outro</option>
    </select>
  </label>
  <label class="item item-input item-stacked-label branquito" ng-hide="evtPreCad">
    <span class="input-label big_red"><span style="font-weight: bold" >Que outro tipo de Evento?</span>
    <input type="text" placeholder="Descreva aqui" ng-model="newEvt.evtType">
  </label>
 <label class="item item-input item-stacked-label mini-label branquito" ng-hide="naocasorio">
    <span class="input-label big_red">Horário da Cerimonia</span>
    <input type="time" ng-model="churchTime.value" date-format="HH:mm">
  </label>
  <label class="item item-input item-stacked-label mini-label branquito" ng-hide="naocasorio">
      <span class="input-label big_red">Horário da Festa</span>
      <input type="time" ng-model="partyTime.value" date-format="HH:mm">
    </label>
 </div>   
 <!--   
 <ion-checkbox ng-model="newEvt.unique_invites" ng-change="monClick()"><span class="big_red vade">Convites Únicos</span> (Um convite por pessoa)</ion-checkbox>      
 -->
 </div>
 <div class="englobaMinusTime" ng-show="naocasorio">
      <h4 class="white-so">Informações do Cliente</h4>
</div>
 <div class="englobaMinusTime" ng-hide="naocasorio">
      <h4 class="white-so">Dados do noivo</h4>
</div>
<div class="encolhido branquito">
 <div class="afaster">
    <button class="button btn-small smallest redii" ng-click="getContact('cliente')">Buscar em contatos</button>
</div>  
  <label class="item item-input item-stacked-label">
    <span class="input-label big_red">Nome*</span>
    <input type="text" placeholder="Inserir Nome" ng-model="newEvt.client_name" ng-value="newEvt.client_name">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label big_red">Telefone*</span>
    <input type="tel" placeholder="Inserir Telefone" ng-model="newEvt.client_phone" ng-value="newEvt.client_phone">
  </label>  
  <label class="item item-input item-stacked-label">
    <span class="input-label big_red">Email</span>
    <input type="email" placeholder="Inserir Email" ng-model="newEvt.client_mail">
  </label>
 </div> 
 <div class="englobaMinusTime" ng-show="naocasorio">
      <h4 class="white-so">Segundo cliente (se houver)</h4>
</div>
 <div class="englobaMinusTime" ng-hide="naocasorio">
      <h4 class="white-so">Dados da noiva</h4>
</div>
<div class="encolhido branquito">
 <div class="afaster">
    <button class="button btn-small smallest redii" ng-click="getContact('cliente2')">Buscar em contatos</button>
</div>  
  <label class="item item-input item-stacked-label">
    <span class="input-label big_red">Nome</span>
    <input type="text" placeholder="Inserir Nome" ng-model="newEvt.client2_name" ng-value="newEvt.client2_name">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label big_red">Telefone</span>
    <input type="tel" placeholder="Inserir Telefone" ng-model="newEvt.client2_phone" ng-value="newEvt.client2_phone">
  </label>  
  <label class="item item-input item-stacked-label">
    <span class="input-label big_red">Email</span>
    <input type="email" placeholder="Inserir Email" ng-model="newEvt.client2_mail">
  </label>
  </div>
  <div class="englobaMinusTime" ng-show="naocasorio">
        <h4 class="white-so">Contatos extras</h4>
  </div>

  <div class="englobaMinusTime" ng-hide="naocasorio">
        <h4 class="white-so">Pais do noivo</h4>
  </div>
  <div class="encolhido branquito">
  <div class="item">
 <div class="afaster">
    <button class="button btn-small smallest redii" ng-click="getContact('cont01')">Buscar em contatos</button>
</div>      
  <div class="row">
  <div class="col col-50">
      <label class="item item-input-inset brag_no">
        <i class="icon ion-person-add placeholder-icon"></i>
        <input type="text" placeholder="Nome" ng-model= "newEvt.cont01Nome" ng-value="newEvt.cont01Nome">
      </label>
  </div>
  <div class="col col-50">
      <label class="item item-input-inset brag_no">
        <i class="icon ion-android-call placeholder-icon"></i>
        <input type="tel" placeholder="Telefone" ng-model= "newEvt.cont01Phone" ng-value="newEvt.cont01Phone">
      </label>
  </div>
  </div>  
  </div> 
    <div class="item">
 <div class="afaster">
    <button class="button btn-small smallest redii" ng-click="getContact('cont02')">Buscar em contatos</button>
</div>  
  <div class="row">
  <div class="col col-50">
      <label class="item item-input-inset brag_no">
        <i class="icon ion-person-add placeholder-icon"></i>
        <input type="text" placeholder="Nome" ng-model= "newEvt.cont02Nome" ng-value="newEvt.cont02Nome">
      </label>
  </div>
  <div class="col col-50">
      <label class="item item-input-inset brag_no">
        <i class="icon ion-android-call placeholder-icon"></i>
        <input type="tel" placeholder="Telefone" ng-model= "newEvt.cont02Phone" ng-value="newEvt.cont02Phone">
      </label>
  </div>
  </div>  
  </div>
</div>  
<div class="englobaMinusTime" ng-hide="naocasorio">
        <h4 class="white-so">Pais da noiva</h4>
  </div>
<div class="encolhido branquito">  
     <div class="item">
 <div class="afaster">
    <button class="button btn-small smallest redii" ng-click="getContact('cont03')">Buscar em contatos</button>
</div>   
    <div class="row">
  <div class="col col-50">
      <label class="item item-input-inset brag_no">
        <i class="icon ion-person-add placeholder-icon"></i>
        <input type="text" placeholder="Nome" ng-model= "newEvt.cont03Nome" ng-value=newEvt.cont03Nome>
      </label>
  </div>
  <div class="col col-50">
      <label class="item item-input-inset brag_no">
        <i class="icon ion-android-call placeholder-icon"></i>
        <input type="tel" placeholder="Telefone" ng-model= "newEvt.cont03Phone" ng-value="newEvt.cont03Phone">
      </label>
  </div>
  </div>  
  </div> 
<div class="item">
 <div class="afaster">
    <button class="button btn-small smallest redii" ng-click="getContact('cont04')">Buscar em contatos</button>
</div>  
  <div class="row">
  <div class="col col-50">
      <label class="item item-input-inset brag_no">
        <i class="icon ion-person-add placeholder-icon"></i>
        <input type="text" placeholder="Nome" ng-model= "newEvt.cont04Nome" ng-value="newEvt.cont04Nome">
      </label>
  </div>
  <div class="col col-50">
      <label class="item item-input-inset brag_no">
        <i class="icon ion-android-call placeholder-icon"></i>
        <input type="tel" placeholder="Telefone" ng-model= "newEvt.cont04Phone" ng-value="newEvt.cont04Phone">
      </label>
  </div>
  </div>  
  </div>
<!-- contrato -->
</div>
   <div class="englobaMinusTime" ng-show="naocasorio">
      <h4 class="white-so">Informações para Contrato</h4>
</div> 
  </label>
<div class="encolhido branquito">       
  <div via-cep-form>
    <label class="item item-input item-stacked-label">
    <span class="input-label big_red_evt">Nome Completo</span>
    <input type="text" ng-model="newEvt.client_name_comp">
  </label>
  </label>     
    <label class="item item-input item-stacked-label">
    <span class="input-label big_red_evt">CPF</span>
    <input type="text" placeholder="XXX.XXX.XXX-XX" ng-model="newEvt.client_cpf">
  </label>
  </label>     
    <label class="item item-input item-stacked-label">
    <span class="input-label big_red_evt">RG</span>
    <input type="text" ng-model="newEvt.client_rg">
  </label>
  </label>     
    <label class="item item-input item-stacked-label">
    <span class="input-label big_red_evt">CEP</span>
    <input type="text" ng-model="newEvt.client_cep" via-cep="cep">
  </label>
  </label>     
    <label class="item item-input item-stacked-label">
    <span class="input-label big_red_evt">Endereço</span>
    <input type="text" placeholder="Endereço" ng-model="newEvt.client_ender" via-cep="logradouro">
  </label>
  </label>     
    <label class="item item-input item-stacked-label">
    <span class="input-label big_red_evt">Complemento</span>
    <input type="text" placeholder="nº, apto" ng-model="newEvt.client_ender2">
  </label>
  </label>     
    <label class="item item-input item-stacked-label">
    <span class="input-label big_red_evt">Bairro</span>
    <input type="text" placeholder="Bairro" ng-model="newEvt.client_neigh" via-cep="bairro">
  </label>
  </label>     
    <label class="item item-input item-stacked-label">
    <span class="input-label big_red_evt">Cidade</span>
    <input type="text" placeholder="Cidade" ng-model="newEvt.client_city" via-cep="localidade">
  </label>
  </label>     
    <label class="item item-input item-stacked-label">
    <span class="input-label big_red_evt">Estado</span>
    <input type="text" placeholder="UF" ng-model="newEvt.client_uf" via-cep="uf">
  </label>
  </div> 
  <div class="item">
     <div class="buttons text-right"> 
          <button type="button" class="button button-fab button-positive-900" ng-click="marcador(newEvt)">
            <i class="icon icon ion-checkmark"></i>
        </button>
    </div>    
  </div>
</div>
</div>
</form>
    </ion-content>
</ion-view>