<ion-view view-title="Receitas e Despesas">
	<div class="bar bar-subheader barbicha lil_h1">
	        	<h1 class="title">{{nome}}</h1>
	</div> 
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="rebaixado">
    <div class="item">
		<div class="row maior">
		  <div class="col col-33 positive">Receitas</div>
		  <div class="col col-67 positive text-right"><strong>{{valorReceitas | currency:"R$ "}}</strong></div>
		</div> 
		<div class="row maior">
		  <div class="col col-33 just_red">Despesas</div>
		  <div class="col col-67 just_red text-right"><strong>{{valorDespesas | currency:"R$ "}}</strong></div>
		</div> 
		<div class="row retiraTop lined_new">
		  <div class="col col-33 result_new positive" ng-class="{assertive: valorTotal < 0}"><strong>Total</strong></div><div class="col col-67 result_new positive text-right" ng-class="{assertive: valorTotal < 0}" pattern="^\d+(?:,\d{3})*\.\d{2}$"><strong>{{valorTotal | currency:"R$ "}}</strong></div>
		</div>
	</div>
    <div class="englobaReceipt retiraTop just_red">
		<div  class="lined2">
		<h4 class="just_red">Inserir valores</h4>
		</div>

    </div>	
	<div class="item">
		<div class="row">
		  <div class="col col-50 text-center"> <button class="button button-small button-assertive myred" ng-click="retiraGrana()"><i class="icon ion-cash minus"></i> Despesa</button></div>
		  <div class="col col-50 text-center"> 
		  <button class="button button-small button-positive-900" ng-click="casaGrana()"><i class="icon ion-cash minus"></i> Receita</button>
		</div> 	
	</div>
    <div class="englobaReceipt retiraTop just_red">
		<div  class="lined2">
			<h4 class="just_red">Ultimos Lançamentos</h4>
		</div>
    </div>
	<ion-list>
	      <ion-item class="item-text-wrap item-button-right" ng-repeat="budget in listCheck | orderBy:'id':true" ng-class="{positive: budget.lancado === 'receita', just_red: budget.lancado === 'despesa'}">
	       <span class="maior"><strong>{{budget.valor | currency:"R$ "}}</strong></span><br>
	        {{budget.descrip}}
	        <div class="buttons">
    		 <i class="icon ion-edit minus white-so maiorzinho chegaprala" ng-click="editMoneyTask(budget)"></i>
             <i class="icon ion-trash-a minus white-so maiorzinho chegaprala" ng-click="delEvento(budget)"></i>
    	</div>
	      </ion-item>
      </ion-list>     
    </ion-content>
</ion-view>