<ion-view view-title="Assinatura Resposta" align-title="center" class="flat">
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="rebaixado encolhido">
      resposta
    </ion-content>
</ion-view>