<ion-view view-title="Lista de Convidados" align-title="center" class="flat">
      <div class="bar bar-subheader dark-bg barbicha lil_h1 ">
        	<h1 class="title">{{nome}}</h1>
      </div> 
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="rebaixado encolhido">
    <div class="item text-center" ng-show="false">
      <button class="button button-energized-900 myred" ng-show="!sorted" ng-click="sortButter()">Mostrar somente confirmações</button>
      <button class="button button-energized-900 myred" ng-show="sorted" ng-click="sortButter()">Mostrar todos os convidados</button>
    </div>
    <div>
        <div class="row" ng-hide="eventoDaVez.unique_invites">
          <div class="col text-center"><h5 class="positive-900">{{totalize_me()}}</h5> convidados</div>
          <div class="col text-center"><h5 class="balanced">{{confirme_me()}}</h5> confirmados</div>
          <div class="col text-center"><h5 class="just_red">{{differ_me()}}</h5> a confirmar</div>
        </div>
        <div class="row" ng-show="eventoDaVez.unique_invites">
          <div class="col text-center"><h5 class="positive-900">{{totalize_unique()}}</h5>convidados</div>
          <div class="col text-center"><h5 class="just_red">{{criancas()}}</h5>crianças</div>
          <div class="col text-center"><h5 class="balanced">{{confirme_unique()}}</h5>confirmados</div>
          <div class="col text-center"><h5 class="just_red">{{differ_unique()}}</h5>a confirmar</div>
        </div>
    </div>
    <div class="item-input-inset item-icon-left">
      <i class="icon ion-search placeholder-icon newgray"></i>
            <input type="text" placeholder=" Buscar convidado" ng-model="search.nome" style="padding-left:11px; background: transparent; display: inline;">
    </div>
    	<ion-list>
            <ion-item ng-show="!sorted" class="item item-button-right bottom-plus" ng-repeat="task in listCheck | filter:search">
            <div class="tipple" ng-click="!asInvited && doneClicked(task)" >
            <i class="icon ion-android-checkbox-outline-blank minus chegaprala white-so" ng-show="!task.done"></i>
            <i class="icon ion-android-checkbox-outline minus presented chegaprala white-so" ng-show="task.done"></i>
            <span ng-hide="eventoDaVez.unique_invites" class="newIt"><strong>{{task.nome}}</strong> &nbsp; | &nbsp; <strong>{{task.convidados}}</strong> convites</span>
            </div>
            <span ng-show="eventoDaVez.unique_invites" class="newIt">
              <span><strong>{{task.nome}}</strong> &nbsp; | &nbsp; </span>
              <span ng-hide="task.crianca">Adulto</span>
              <span ng-show="task.crianca">Criança</span>  
              </span>
            </div>
            <div class="buttons">
              <button class="button button-clear desbutonico" ng-click="editTask(task)"><i class="icon ion-edit white-so retornete"></i></button>
              <button class="button button-clear desbutonico" ng-click="delEvento(task)"> <i class="icon ion-close-circled white-so retornete"></i></button>
            </div>
            </ion-item>
    	</ion-list>
      <ion-list>
            <ion-item ng-show="sorted" class="item item-button-right" ng-repeat="task in listCheck | filter:{done:true} | filter:search">
            <div class="tipple" ng-click="!asInvited && doneClicked(task)" >
            <i class="icon ion-android-checkbox-outline-blank minus chegaprala" ng-show="!task.done"></i>
            <i class="icon ion-android-checkbox-outline minus presented chegaprala" ng-show="task.done"></i>
            <span class="newIt"><strong>{{task.nome}}</strong></span>
            </div>
            <div class="buttons">
              <button class="button button-clear desbutonico" ng-click="delEvento(task)"> <i class="icon ion-close-circled minus assertive retornete"></i></button>
            </div>
            </ion-item>
      </ion-list>
      <div style="min-height: 100px;">    
      </div> 
    </ion-content>
     <button id="fab-profile" ng-hide="asInvited" class="button button-fab button-fab-bottom-right button-energized-900 myred abaixafab" ng-click="showTaskPrompt()">
      <i class="icon ion-plus"></i>
      </button>   
</ion-view>