<ion-view view-title="Lista de Compras">
      <div class="bar bar-subheader dark-bg barbicha lil_h1">
        	<h1 class="title desprega">{{nome}}</4>
      </div> 
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="rebaixado encolhido">
          <ion-list>
            <ion-item class="item item-button-right bottom-plus" ng-repeat="task in listCheck">
            <div class="tipple" ng-click="!asInvited && doneClicked($index, task)" >
            <i class="icon ion-android-checkbox-outline-blank minus white-so chegaprala"ng-show="!task.done"></i>
            <i class="icon ion-android-checkbox-outline minus white-so chegaprala" ng-show="task.done"></i>
            <span class="newIt"><strong>{{task.item}}</strong></span>
            </div>
            <div class="buttons">
              <i class="icon ion-edit minus white-so" ng-hide="asInvited" ng-click="editTask($index, task)" ></i>
            </div>
            </ion-item>
          </ion-list>  
    </ion-content>
     <button id="fab-profile" class="button button-fab button-fab-bottom-right button-energized-900 myred abaixafab" ng-hide="asInvited" ng-click="showTaskPrompt()">
      <i class="icon ion-plus"></i>
      </button>    
</ion-view>