<ion-view view-title="Evento" align-title="center" class="flat">
<div class="bar bar-subheader dark-bg barbicha">
      <div class="englobaTime text-center" ng-click="clickToView()">
        <h1 class="title">{{nome}}</h1><br/>
        <h6 class="title titlezim" style="top: 35px;">Clique aqui para os dados do evento</h6>
      </div>
</div>
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="rebaixado white" ng-show="prepared">
    <div class="row eventTab tutti">
      <div class="col col-50 claro ink">
        <div class="tabtext" ui-sref="app.afazeres">
          <div class="icon"><i class="ion-compose"></i></div>
          <h3>Bloco de Notas</h3>
        </div>
      </div>
      <div class="col col-50 escuro ink">
        <div class="tabtext" ui-sref="app.listadecompras">
          <div class="icon"><i class="ion-bag"></i></div>
          <h3>Compras</h3>
        </div>
      </div>
    </div>
    <div class="row eventTab tutti">
      <div class="col col-50 escuro ink">
        <div class="tabtext" ui-sref="app.checklist">
          <div class="icon"><i class="ion-clipboard"></i></div>
          <h3>Checklist</h3>
        </div>
      </div>
      <div class="col col-50 claro ink">
        <div class="tabtext" ng-click="cronSelector()">
          <div class="icon"><i class="ion-android-calendar"></i></div>
          <h3>Cronograma</h3>
        </div>
      </div>
    </div>
    <div class="row eventTab tutti">
      <div class="col col-50 claro ink">
        <div class="tabtext claro" ui-sref="app.fornecedores">
          <div class="icon"><i class="ion-wineglass"></i></div>
          <h3>Fornecedores</h3>
        </div>
      </div>
      <div class="col col-50 escuro ink" ng-hide="asInvited">
        <div class="tabtext" ui-sref="app.receitas_despesas">
          <div class="icon" style="color: #000;"><i class="ion-social-usd"></i></div>
          <h3>Receitas & Despesas</h3>
        </div>
      </div>
      <div class="col col-50 escuro ink" ng-hide="!asInvited">
        <div class="tabtext" ng-click="runAwayGroup()">
          <div class="icon" style="color: #000;"><i class="ion-person-stalker"></i></div>
          <h3>Retirar-se do Grupo</h3>
        </div>
      </div>
    </div>
    <div class="row eventTab tutti">
      <div class="col col-50 escuro ink" ng-hide="hasGroup">
        <div class="tabtext" ng-click="makeGroup()">
          <div class="icon"><i class="ion-person-stalker"></i></div>
          <h3>Criar Grupo de Evento</h3>
        </div>
      </div>
      <div class="col col-50 escuro ink" ng-show="asInvited == false && hasGroup == true">
        <div class="tabtext" ng-click="manageGroup()">
          <div class="icon"><i class="ion-person-add"></i></div>
          <h3>Gerenciar Grupo</h3>
        </div>
      </div>
      <div class="col col-50 claro ink">
        <div class="tabtext" ui-sref="app.rsvp">
          <div class="icon" style="color: #000;"><i class="ion-android-mail"></i></div>
          <h3>RSVP</h3>
        </div>
      </div>
    </div>
    <div class="row eventTab tutti">
      <div class="col col-50 claro ink">
        <div class="tabtext" ui-sref="app.staff">
          <div class="icon" style="color: #000;"><i class="ion-ios-telephone"></i></div>
          <h3>Contatos da Equipe</h3>
        </div>
      </div>
      <div class="col col-50 escuro ink">
        <div class="tabtext" ui-sref="app.galeria">
          <div class="icon" style="color: #000;"><i class="ion-images"></i></div>
          <h3>Galeria de Imagens</h3>
        </div>
      </div>
    </div>
    <div class="row eventTab tutti">
      <div class="col col-50 escuro ink">
        <div class="tabtext" ui-sref="app.reunioes">
          <div class="icon" style="color: #000;"><i class="ion-clock"></i></div>
          <h3>Reuniões</h3>
        </div>
      </div>
    </div>
    </ion-content>
</ion-view>
