<ion-view view-title="Evento" align-title="center" class="flat">
<div class="bar bar-subheader dark-bg barbicha">
      <div class="englobaTime text-center" ng-click="clickToView()">
        <h1 class="title">{{nome}}</h1><br/>
        <h6 class="title titlezim" style="top: 35px;">Clique aqui para os dados do evento</h6>
      </div>
</div>
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="rebaixado white" ng-show="prepared">
  <div class="encolhido">
  <div class="list" style="padding-top: 20px;">
      <ion-item ui-sref="app.afazeres" class="item item-icon-left item-text-wrap white-so ultra-plus">
        <i class="icon ion-compose"></i>| BLOCO DE NOTAS
      </ion-item>
      <ion-item ui-sref="app.listadecompras" class="item item-icon-left item-text-wrap white-so ultra-plus">
        <i class="icon ion-bag"></i>| COMPRAS
      </ion-item>
      <ion-item ui-sref="app.checklist" class="item item-icon-left item-text-wrap white-so ultra-plus">
        <i class="icon ion-clipboard"></i>| CHECKLIST
      </ion-item>
      <ion-item ui-sref="app.visita-tecnica" class="item item-icon-left item-text-wrap white-so ultra-plus">
        <i class="icon ion-checkmark-round"></i>| VISITA TÉCNICA
      </ion-item>
      <ion-item ng-click="cronSelector()" class="item item-icon-left item-text-wrap white-so ultra-plus" ng-show="pago">
        <i class="icon ion-android-calendar"></i>| CRONOGRAMA
      </ion-item>
      <ion-item ui-sref="app.fornecedores" class="item item-icon-left item-text-wrap white-so ultra-plus" ng-show="pago">
        <i class="icon ion-wineglass"></i>| FORNECEDOES
      </ion-item>
      <ion-item ui-sref="app.receitas_despesas" class="item item-icon-left item-text-wrap white-so ultra-plus" ng-show="pago && asInvited == false">
        <i class="icon ion-social-usd"></i>| RECEITAS & DESPESAS
      </ion-item>
      <ion-item ng-click="runAwayGroup()" class="item item-icon-left item-text-wrap white-so ultra-plus" ng-show="asInvited == true">
        <i class="icon ion-person-stalker"></i>| RETIRAR-SE DO GRUPO
      </ion-item>
      <ion-item ng-click="makeGroup()" class="item item-icon-left item-text-wrap white-so ultra-plus" ng-show="hasGroup == false && pago == true">
        <i class="icon ion-person-stalker"></i>| CRIAR GRUPO DE EVENTO
      </ion-item>
      <ion-item ng-click="manageGroup()" class="item item-icon-left item-text-wrap white-so ultra-plus" ng-show="asInvited == false && hasGroup == true && pago == true">
        <i class="icon ion-person-stalker"></i>| GERENCIAR GRUPO
      </ion-item>
      <ion-item ui-sref="app.rsvp" class="item item-icon-left item-text-wrap white-so ultra-plus" ng-show="pago">
        <i class="icon ion-android-mail"></i>| RSVP
      </ion-item>
      <ion-item ui-sref="app.staff" class="item item-icon-left item-text-wrap white-so ultra-plus" ng-show="pago">
        <i class="icon ion-ios-telephone"></i>| CONTATOS DA EQUIPE
      </ion-item >
      <ion-item ui-sref="app.galeria" class="item item-icon-left item-text-wrap white-so ultra-plus" ng-show="pago">
        <i class="icon ion-images"></i>| GALERIA DE IMAGENS
      </ion-item>
      <ion-item ui-sref="app.reunioes" class="item item-icon-left item-text-wrap white-so ultra-plus" ng-show="pago">
        <i class="icon ion-clock"></i>| REUNIÕES
      </ion-item>
    <!-- FIM LISTA USÁVEL -->
    <ion-item ui-sref="app.assinaturas" class="item item-icon-left item-text-wrap white-so ultra-plus passado" ng-show="!pago">
      <i class="icon ion-android-calendar"></i>| CRONOGRAMA
    </ion-item>
    <ion-item ui-sref="app.assinaturas" class="item item-icon-left item-text-wrap white-so ultra-plus passado" ng-show="!pago">
      <i class="icon ion-wineglass"></i>| FORNECEDOES
    </ion-item>
    <ion-item ui-sref="app.assinaturas" class="item item-icon-left item-text-wrap white-so ultra-plus passado" ng-show="!pago || asInvited">
      <i class="icon ion-social-usd"></i>| RECEITAS & DESPESAS
    </ion-item>
    <ion-item ui-sref="app.assinaturas" class="item item-icon-left item-text-wrap white-so ultra-plus passado" ng-show="!pago">
      <i class="icon ion-person-stalker"></i>| RETIRAR-SE DO GRUPO
    </ion-item>
    <ion-item ui-sref="app.assinaturas" class="item item-icon-left item-text-wrap white-so ultra-plus passado" ng-show="asInvited == false && hasGroup == true && pago == false">
      <i class="icon ion-person-stalker"></i>| GERENCIAR GRUPO
    </ion-item>
    <ion-item ui-sref="app.assinaturas" class="item item-icon-left item-text-wrap white-so ultra-plus passado" ng-show="!pago">
      <i class="icon ion-android-mail"></i>| RSVP
    </ion-item>
    <ion-item ui-sref="app.assinaturas" class="item item-icon-left item-text-wrap white-so ultra-plus passado" ng-show="!pago">
      <i class="icon ion-ios-telephone"></i>| CONTATOS DA EQUIPE
    </ion-item >
    <ion-item ui-sref="app.assinaturas" class="item item-icon-left item-text-wrap white-so ultra-plus passado" ng-show="!pago">
      <i class="icon ion-images"></i>| GALERIA DE IMAGENS
    </ion-item>
    <ion-item ui-sref="app.assinaturas" class="item item-icon-left item-text-wrap white-so ultra-plus passado" ng-show="!pago">
      <i class="icon ion-clock"></i>| REUNIÕES
    </ion-item>
  </div>
</div>
    </ion-content>
</ion-view>
