<ion-view view-title="Calendário" align-title="center" class="flat">
    <ion-content ng-class="{expanded:$scope.isExpanded}">

<my-calendar display="dateValue" dateformat="'dd-MMM-yyyy'"></my-calendar>
				<div class="list">
				  <div class="item">
					{{dateValue}} - do novo
				  </div>
				</div>
				<div>
				</div>   
	</ion-content>
</ion-view>
