<ion-view view-title="Eventos" align-title="center" class="flat">
 <ion-floating-button click="mandapraNovo()" has-footer="false" button-color="#5e0309" icon="ion-plus">
</ion-floating-button>
<div class="bar bar-subheader anti_barbicha" ng-hide="true">
<label class="item item-input">
  <i class="icon ion-search placeholder-icon"></i>
  <input type="search" placeholder="Search" ng-model="searchFilter">
</label>
      </div> 
    <ion-content ng-class="{expanded:$scope.isExpanded, 'has-header-fab-left': hasHeaderFabLeft}">
    <div class="row row-center">
      <div class="col col-center text-center" style="padding-top: 80px;" ng-show="!temEventos">
        <h2 style="font-weight:900">Sem eventos agendados</h2><br>
        <h4>Clique no botão abaixo para adicionar um evento.</h4>
      </div>
    </div>

  <div> 
    <ion-list>
      <ion-item class="item-icon-left item-button-right item-text-wrap ink" ng-repeat="(key, evento) in tuttiEventi | orderObjectBy: 'evtDay'">
      <div ng-click="clicked(evento)">
        <i class="icon ion-ios-arrow-right"></i>
       <span class="newIt"><strong>{{evento.name}}</strong></span><br>
        {{evento.evtDay | date:'dd/MM/YYYY'}}
        </div>
            <div class="buttons">
              <button class="button button-clear desbutonico" ng-click="clickToView(evento)"><i class="icon ion-edit minus positive-900 retornete"></i></button>
              <button class="button button-clear desbutonico" ng-click="editEvento(evento)"> <i class="icon ion-close-circled minus assertive retornete"></i></button>
            </div>
      </ion-item>
    </ion-list>
  </div>
    <div style="min-height: 60px;">    
    </div>  
    </ion-content>
</ion-view>