<ion-view>
      <div class="bar bar-subheader dark-bg barbicha lil_h1">
          <h1 class="title">{{nome}}</h1>
      </div> 
    <ion-content ng-class="{expanded:$scope.isExpanded, 'has-header-fab-left': hasHeaderFabLeft}" class="rebaixado">
 <div class="item text-center med_red">
      <span class="newIt"><strong>Clique no fornecedor para detalhes</strong></span>
</div> 
    <ion-list>
      <ion-item class="item-icon-left item-text-wrap item-button-right" ng-repeat="crew in listCheck">
        <i class="icon ion-person"></i>
       <span class="newIt" ng-click="showTask($index, crew)"><strong>{{crew.nome}}</strong></span><br>
        <span ng-click="showTask($index, crew)">{{crew.tipo}}</span>
            <div class="buttons">
            <button  class="button redii btn-circle" ng-click="dialNumber(crew.tel)"><i class="icon ion-ios-telephone"></i>  </button >
            <button class="button button-clear desbutonico" ng-click="editTask($index, crew)"><i class="icon ion-edit minus positive-900 retornete"></i></button>
            </div>      
      </ion-item>    
    </ion-list>
    </ion-content>
    <button id="fab-profile" class="button button-fab button-fab-top-right button-assertive-900 myred abaixafab" ng-click="showTaskPrompt()">
      <i class="icon ion-person-add"></i>
      </button>
</ion-view>