   <ion-modal-view>
  <ion-header-bar align-title="center" class="flat">
    <h4 class="title texto-branco">Inserir uma Nova Despesa</h4>
    <div class="button button-clear menasfuente" ng-click="cancelTask(2)"><span class="icon ion-close menasfuente"></span></div>
  </ion-header-bar>
<ion-content class="has-header topito pane" ng-class="{expanded:$scope.isExpanded}">
  <label class="item item-input item-stacked-label pitch">
      <span class="input-label big_red">Valor da Despesa</span>
    <input type="text" placeholder="0,00" ng-model="newBudget.valor" ui-number-mask="2">
  </label>
  <label class="item item-input item-stacked-label pitch">
    <span class="input-label big_red">Tipo de despesa</span>
    <input type="text" placeholder="Descreva a despesa" ng-model="newBudget.descrip" >
  </label>

  <div class="item">
     <div class="buttons text-right">            
        <button class="button button-fab button-positive-900 awayBut" ng-click="saveTask(2)">
            <i class="icon icon ion-checkmark"></i>
        </button>
    </div>
  </div>
      </ion-content>
   </ion-modal-view>