   <ion-modal-view>
  <ion-header-bar align-title="center" class="flat" >
    <h4 class="title texto-branco">Edição de Padrinhos</h4>
    <div class="button button-clear menasfuente" ng-click="cancelTask(3)"><span class="icon ion-close menasfuente"></span></div>
  </ion-header-bar>
  <ion-content class="has-header topito pane" ng-class="{expanded:$scope.isExpanded}">
  <div class="item text-center">Reorganize a ordem dos padrinhos</div>
  <div class="item text-center">Toque no nome para fazer a ligação</div>
  <ion-list show-reorder="true">
    <ion-item class="apagado" ng-repeat="item in showTheBest" item="item"
                  href="#/item/{{item.phone}}" class="item-remove-animate">
      <div class="tipple">
          <div style="display: inline;">
            	 <i class="icon ion-woman minus chegaprala" ng-show="item.choice == 'noiva'"></i>
               <i class="icon ion-man minus chegaprala" ng-show="item.choice == 'noivo'"></i>
          </div>
          <div style="display: inline;">
            <strong><a href="tel: {{item.phoneDele}}">{{item.nomeDele}}</a></strong> / <strong><a href="tel: {{item.phoneDela}}">{{item.nomeDela}}</a></strong>
          </div>
      </div>
    	<ion-reorder-button class="ion-navicon button-clear desbutonico" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
    </ion-item>
  </ion-list>
  <!-- O best man fica aqui dentro -->  

    <div class="item">
      <button class="button button-small button-full button-assertive myred ink" ng-click="insertBest()">Inserir Padrinho</button>
  </div>
    <!-- noivo ou noiva -->
  <div class="row">
  <div class="col col-50">
      <label class="item item-input-inset brag" ng-show="plusBest">
        <i class="icon ion-person-add placeholder-icon"></i>
        <input type="text" placeholder="Padrinho" ng-model= casale.nomeDele>
      </label>
  </div>
  <div class="col col-50">
      <label class="item item-input-inset brag" ng-show="plusBest">
        <i class="icon ion-android-call placeholder-icon"></i>
        <input type="tel" placeholder="Telefone" ng-model= casale.phoneDele>
      </label>
  </div>
  </div>
  <div class="row">
  <div class="col col-50">
      <label class="item item-input-inset brag" ng-show="plusBest">
        <i class="icon ion-person-add placeholder-icon"></i>
        <input type="text" placeholder="Madrinha" ng-model= casale.nomeDela>
      </label>
  </div>
  <div class="col col-50">
      <label class="item item-input-inset brag" ng-show="plusBest">
        <i class="icon ion-android-call placeholder-icon"></i>
        <input type="tel" placeholder="Telefone" ng-model= casale.phoneDela>
      </label>
  </div>
  </div>

  <div class="row" ng-show="plusBest">
  <div class="col col-50">
      <ion-radio ng-model="casale.choice" value="noivo">Noivo</ion-radio>
  </div>
  <div class="col col-50">
      <ion-radio ng-model="casale.choice" value="noiva">Noiva</ion-radio>
  </div>
  </div>
  <!-- noivo ou noiva -->
      <div class="item" ng-show="plusBest">
      <button class="button button-small button-full button-assertive myred ink" ng-click="putBest()">Adicionar</button>
      </div>  

  <!-- O best man fica aqui dentro -->


  </ion-content>
</ion-modal-view>