<ion-view view-title="Novo Evento">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
<div class="englobaTime">
      <h4 class="big_red">Informações Gerais</h4>
</div>
<form name="newEvt" novalidate>
<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label big_red">Nome do Evento</span>
    <input type="text" placeholder="Nome do Evento" ng-model="newEvt.name" required>
  </label>
    <label class="item item-input item-stacked-label mini-label">
    <span class="input-label big_red">Data do Evento</span>
    <input type="date" ng-model="itemDate.value" date-format="DD/MM/YYYY">
  </label>     
  <label class="item item-input item-stacked-label mini-label">
    <span class="input-label big_red">Horário do Evento</span>
    <input type="time" ng-model="itemTime.value" date-format="HH:mm">
  </label>     
    <label class="item item-input item-stacked-label">
    <span class="input-label big_red">Local do Evento</span>
    <input type="text" placeholder="Local do Evento" ng-model="newEvt.place" required>
  </label> 
<label class="item item-input item-select ">
    <div class="input-label big_red">
      Tipo de Evento
    </div>
    <select ng-model="mySelect" ng-change="changeEventType(mySelect)">
      <option>Clique para escolher</option>
      <option>Casamento</option>
      <option>Festa Infantil</option>
      <option>Corporativo</option>
      <option>Social</option>
      <option>Outro</option>
    </select>
  </label>
  <label class="item item-input item-stacked-label" ng-hide="evtPreCad">
    <span class="input-label balanced-900"><span style="font-weight: bold" >Que outro tipo de Evento?</span>
    <input type="text" placeholder="Descreva aqui" ng-model="newEvt.evtType">
  </label>
 <label class="item item-input item-stacked-label mini-label" ng-hide="naocasorio">
    <span class="input-label big_red">Horário da Cerimonia</span>
    <input type="time" ng-model="churchTime.value" date-format="HH:mm">
  </label>
  <label class="item item-input item-stacked-label mini-label" ng-hide="naocasorio">
      <span class="input-label big_red">Horário da Festa</span>
      <input type="time" ng-model="partyTime.value" date-format="HH:mm">
    </label>   
 <div class="englobaTime">
      <h4 class="big_red">Informações do Cliente</h4>
</div> 
  <label class="item item-input item-stacked-label">
    <span class="input-label big_red">Nome do Cliente</span>
    <input type="text" placeholder="Nome do Cliente" ng-model="newEvt.client_name" required>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label big_red">Telefone do Cliente</span>
    <input type="tel" placeholder="Telefone do Cliente" ng-model="newEvt.client_phone" required>
  </label>  
  <label class="item item-input item-stacked-label">
    <span class="input-label big_red">Email do Cliente</span>
    <input type="email" placeholder="Email do Cliente" ng-model="newEvt.client_mail">
  </label>
  <div class="item">
     <div class="buttons text-right">                   
        <button type="button" class="button button-fab button-positive-900" ng-click="marcador(newEvt)" ng-disabled="newEvt.$invalid">
            <i class="icon icon ion-checkmark"></i>
        </button>
    </div>
  </div>
</div>
</form>
    </ion-content>
</ion-view>