   <ion-modal-view>
  <ion-header-bar align-title="center" class="flat">
    <h4 class="title texto-branco">Dados do evento</h4>
    <div class="button button-small button-clear menasfuente" ng-click="closeModal()"><span class="icon ion-close menasfuente"></span></div>
  </ion-header-bar>  
  <ion-content class="has-header topitominus pane" ng-class="{expanded:$scope.isExpanded}">
	  <div class="barbicha lil_h1">
	  		<div class="englobaTime text-center" ng-click="goneFly()">
	        	<h1>{{evtInfo.name}}</h1>
	        	<h3 class="lil_red">Clique aqui para editar dados do evento</h3>
	      	</div>
	   </div>
	<div class="row">
		<div class="col col-50 big_red_evt">Data: </div>
		<div class="col col-50">{{evtInfo.evtDay}}</div>
	</div>
  	<div ng-show="evtInfo.evtType != 'Casamento'">
	<div class="row">
		<div class="col col-50 big_red_evt">Horário: </div>
		<div class="col col-50">{{evtInfo.evtHour}}h</div>
	</div>
	</div>
  	<div ng-show="evtInfo.evtType == 'Casamento'">
	<div class="row">
		<div class="col col-50 big_red_evt">Hora da Cerimônia: </div>
		<div class="col col-50">{{evtInfo.horaCasorio}}h</div>
	</div>
	<div class="row">
		<div class="col col-50 big_red_evt">Hora da Festa: </div>
		<div class="col col-50">{{evtInfo.horaFesta}}h</div>
	</div>
	</div>
	<div class="row">
		<div class="col col-50 big_red_evt">Local: </div>
		<div class="col col-50">{{evtInfo.place}}</div>
	</div>
	<div class="row">
		<div class="col col-50 big_red_evt">Tipo de Evento: </div>
		<div class="col col-50">{{evtInfo.evtType}}</div>
	</div>
 	<div class="englobaMinusTime" ng-show="evtInfo.evtType != 'Casamento'">
      <h4 class="big_red">Informações do Cliente</h4>
	</div>
 	<div class="englobaMinusTime" ng-show="evtInfo.evtType == 'Casamento'">
      <h4 class="big_red">Dados do noivo</h4>
	</div>
	<div class="row">
		<div class="col col-50 big_red_evt">Nome: </div>
		<div class="col col-50">  {{evtInfo.client_name}}  <a class="betonzon button-round" ng-click="dialNumber(evtInfo.client_phone)"><i class="icon ion-ios-telephone"></i></a></div>
	</div>
	<div class="row" ng-show="evtInfo.client_mail != undefined">
		<div class="col col-50 big_red_evt">Email: </div>
		<div class="col col-50">{{evtInfo.client_mail}}</div>
	</div>
	<div ng-show="evtInfo.client2_name != undefined">
  	<div class="englobaMinorityTime" ng-show="evtInfo.evtType != 'Casamento'">
  	<h4 class="big_red">Segundo contato principal</h4>
  	</div>
 	<div class="englobaMinusTime" ng-show="evtInfo.evtType == 'Casamento'">
      <h4 class="big_red">Dados da noiva</h4>
	</div>
	<div class="row" ng-show="evtInfo.client2_name != undefined">
		<div class="col col-50 big_red_evt">Nome: </div>
		<div class="col col-50">{{evtInfo.client2_name}}  <a class="betonzon button-round" ng-click="dialNumber(evtInfo.client2_phone)"><i class="icon ion-ios-telephone"></i></a></div>
	</div>
	<div class="row" ng-show="evtInfo.client2_mail != undefined">
		<div class="col col-50 big_red_evt">Email: </div>
		<div class="col col-50">{{evtInfo.client2_mail}}</div>
	</div>
	</div>
  	<div class="englobaMinorityTime" ng-show="evtInfo.cont01Nome != undefined || evtInfo.cont02Nome != undefined || evtInfo.cont03Nome != undefined || evtInfo.cont04Nome != undefined">
  	<div ng-show="evtInfo.evtType != 'Casamento'">
  	<h4 class="big_red">Outros Contatos</h4>
  	</div>
   	</div> 	
  	<div ng-show="evtInfo.evtType == 'Casamento'">
  	<h4 class="big_red dezpixright">Pais do noivo</h4>
  	</div>  	
		  <div ng-show="evtInfo.cont01Nome != undefined && evtInfo.cont01Phone != undefined">
				<div class="row">
					<div class="col col-50 big_red_evt">Nome: </div>
					<div class="col col-50">{{evtInfo.cont01Nome}}   <a class="betonzon button-round" ng-click="dialNumber(evtInfo.cont01Phone)"><i class="icon ion-ios-telephone"></i></a></div>
				</div>
		 </div>
		  <div ng-show="evtInfo.cont02Nome != undefined && evtInfo.cont02Phone != undefined">
				<div class="row">
					<div class="col col-50 big_red_evt">Nome: </div>
					<div class="col col-50">{{evtInfo.cont02Nome}}   <a class="betonzon button-round" ng-click="dialNumber(evtInfo.cont02Phone)"><i class="icon ion-ios-telephone"></i></a></div>
				</div>
		 </div>
  	<div ng-show="evtInfo.evtType == 'Casamento'">
  	<h4 class="big_red dezpixright">Pais da noiva</h4>
  	</div>  	
		  <div ng-show="evtInfo.cont03Nome != undefined && evtInfo.cont03Phone != undefined">
				<div class="row">
					<div class="col col-50 big_red_evt">Nome: </div>
					<div class="col col-50">{{evtInfo.cont03Nome}}   <a class="betonzon button-round" ng-click="dialNumber(evtInfo.cont03Phone)"><i class="icon ion-ios-telephone"></i></a></div>
				</div>
		 </div>
		  <div ng-show="evtInfo.cont04Nome != undefined && evtInfo.cont04Phone != undefined">
				<div class="row">
					<div class="col col-50 big_red_evt">Nome: </div>
					<div class="col col-50">{{evtInfo.cont04Nome}}   <a class="betonzon button-round" ng-click="dialNumber(evtInfo.cont04Phone)"><i class="icon ion-ios-telephone"></i></a></div>
				</div>
		 </div>
	<div class="row">
		<div class="col text-right">
		<button class="button button-fab button-assertive myred ink" ng-click="goneFly()"><i class="icon ion-edit"></i></button>
		</div>
	</div>	 
  </ion-content>
  </ion-modal-view>
 