  <ion-modal-view>
  <ion-header-bar align-title="center" class="flat">
    <h4 class="title texto-branco">Dados do evento</h4>
    <div class="button button-small button-clear menasfuente" ng-click="closeModal()"><span class="icon ion-close menasfuente"></span></div>
  </ion-header-bar>  
  <ion-content class="has-header topitominus pane" ng-class="{expanded:$scope.isExpanded}">
  <div class="englobaTime text-center">
        	<h4 class="big_red">{{nome}}</h4>
      </div> 
	<div class="row">
		<div class="col col-50 big_red_evt">Data: </div>
		<div class="col col-50">{{evtInfo.evtDay}}</div>
	</div>
  	<div ng-show="evtInfo.evtType != 'Casamento'">
	<div class="row">
		<div class="col col-50 big_red_evt">Horário: </div>
		<div class="col col-50">{{evtInfo.evtHour}}h</div>
	</div>
	</div>
  	<div ng-show="evtInfo.evtType == 'Casamento'">
	<div class="row">
		<div class="col col-50 big_red_evt">Hora da Cerimônia: </div>
		<div class="col col-50">{{evtInfo.horaCasorio}}h</div>
	</div>
	<div class="row">
		<div class="col col-50 big_red_evt">Hora da Festa: </div>
		<div class="col col-50">{{evtInfo.horaFesta}}h</div>
	</div>
	</div>
	<div class="row">
		<div class="col col-50 big_red_evt">Local: </div>
		<div class="col col-50">{{evtInfo.place}}</div>
	</div>
	<div class="row">
		<div class="col col-50 big_red_evt">Tipo de Evento: </div>
		<div class="col col-50">{{evtInfo.evtType}}</div>
	</div>
 	<div class="englobaMinusTime" ng-show="evtInfo.evtType != 'Casamento'">
      <h4 class="big_red">Informações do Cliente</h4>
	</div>
 	<div class="englobaMinusTime" ng-show="evtInfo.evtType == 'Casamento'">
      <h4 class="big_red">Dados do noivo</h4>
	</div>
	<div class="row">
		<div class="col col-50 big_red_evt">Nome: </div>
		<div class="col col-50">{{evtInfo.client_name}}</div>
	</div>
	<div class="row">
		<div class="col col-50 big_red_evt">Telefone (toque para ligar): </div>
		<div class="col col-50"><strong><a href="tel: {{evtInfo.client_phone}}">{{evtInfo.client_phone}}</a></strong></div>
	</div>
	<div class="row" ng-show="evtInfo.client_mail != undefined">
		<div class="col col-50 big_red_evt">Email: </div>
		<div class="col col-50">{{evtInfo.client_mail}}</div>
	</div>
	<div ng-show="evtInfo.client2_name != undefined">
  	<div class="englobaMinorityTime" ng-show="evtInfo.evtType != 'Casamento'">
  	<h4 class="big_red">Segundo contato principal</h4>
  	</div>
 	<div class="englobaMinusTime" ng-show="evtInfo.evtType == 'Casamento'">
      <h4 class="big_red">Dados da noiva</h4>
	</div>
	<div class="row" ng-show="evtInfo.client2_name != undefined">
		<div class="col col-50 big_red_evt">Nome: </div>
		<div class="col col-50">{{evtInfo.client2_name}}</div>
	</div>
	<div class="row">
		<div class="col col-50 big_red_evt">Telefone (toque para ligar): </div>
		<div class="col col-50"><strong><a href="tel:{{evtInfo.client2_phone}}">{{evtInfo.client2_phone}}</a></strong></div>
	</div>
	<div class="row" ng-show="evtInfo.client2_mail != undefined">
		<div class="col col-50 big_red_evt">Email: </div>
		<div class="col col-50">{{evtInfo.client2_mail}}</div>
	</div>
	</div>
  	<div class="englobaMinorityTime" ng-show="evtInfo.cont01Nome != undefined || evtInfo.cont02Nome != undefined || evtInfo.cont03Nome != undefined || evtInfo.cont04Nome != undefined">
  	<div ng-show="evtInfo.evtType != 'Casamento'">
  	<h4 class="big_red">Outros Contatos</h4>
  	</div>
   	</div> 	
  	<div ng-show="evtInfo.evtType == 'Casamento'">
  	<h4 class="big_red dezpixright">Pais do noivo</h4>
  	</div>  	
		  <div ng-show="evtInfo.cont01Nome != undefined">
				<div class="row">
					<div class="col col-50 big_red_evt">Nome: </div>
					<div class="col col-50">{{evtInfo.cont01Nome}}</div>
				</div>
				<div class="row">
					<div class="col col-50 big_red_evt">Telefone (toque para ligar): </div>
					<div class="col col-50"><strong><a href="tel:{{evtInfo.cont01Phone}}">{{evtInfo.cont01Phone}}</a></strong></div>
				</div>
		 </div>
		  <div ng-show="evtInfo.cont01Nome != undefined">
				<div class="row">
					<div class="col col-50 big_red_evt">Nome: </div>
					<div class="col col-50">{{evtInfo.cont02Nome}}</div>
				</div>
				<div class="row">
					<div class="col col-50 big_red_evt">Telefone (toque para ligar): </div>
					<div class="col col-50"><strong><a href="tel:{{evtInfo.cont02Phone}}">{{evtInfo.cont02Phone}}</a></strong></div>
				</div>
		 </div>

  	<div ng-show="evtInfo.evtType == 'Casamento'">
  	<h4 class="big_red dezpixright">Pais da noiva</h4>
  	</div>  	
		  <div ng-show="evtInfo.cont03Nome != undefined">
				<div class="row">
					<div class="col col-50 big_red_evt">Nome: </div>
					<div class="col col-50">{{evtInfo.cont03Nome}}</div>
				</div>
				<div class="row">
					<div class="col col-50 big_red_evt">Telefone (toque para ligar): </div>
					<div class="col col-50"><strong><a href="tel:{{evtInfo.cont03Phone}}">{{evtInfo.cont03Phone}}</a></strong></div>
				</div>
		 </div>
		  <div ng-show="evtInfo.cont04Nome != undefined">
				<div class="row">
					<div class="col col-50 big_red_evt">Nome: </div>
					<div class="col col-50">{{evtInfo.cont04Nome}}</div>
				</div>
				<div class="row">
					<div class="col col-50 big_red_evt">Telefone (toque para ligar): </div>
					<div class="col col-50"><strong><a href="tel:{{evtInfo.cont04Phone}}">{{evtInfo.cont04Phone}}</a></strong></div>
				</div>
		 </div>
	<div class="row">
		<div class="col">
		<button class="button button-small button-full button-assertive myred ink" ng-click="goneFly()">Editar Este Evento</button>
		</div>
	</div>	 
  </ion-content>
  </ion-modal-view>