<div padding="false" style="top: 60px; margin-top: 120px;">
 <div class="item text-center med_red low-bar">
      <span class="newIt" ><strong>Hora da Cerimônia: {{eventoDaVez.horaCasorio}}</strong></span>
</div>
  <div class="encolhido">
      <ion-list>
        <div  ng-repeat="task in listCerimonia | orderBy:'time'">
          <ion-item class="item item-button-right">
              <div class="tipple" ng-click="doneClicked($index, task)" >
              <div>
              <span class="newIt"><strong>{{task.item}}</strong></span><br>
  	        <span>{{task.time | date: "HH:mm"}}</span>
  	        </div>
              </div>
              <div class="buttons">
                <button class="button button-clear desbutonico" ng-show="task.mus == true" ng-click="!asInvited && bringTheSong(task)"><i class="icon ion-ios-musical-note minus white-so retornete"></i></button>
                <button class="button button-clear desbutonico" ng-show="task.bm == true" ng-click="!asInvited && bringTheMen(task)"><i class="icon ion-person-add minus white-so retornete"></i></button>
                <button class="button button-clear desbutonico" ng-click="!asInvited && editTask($index, task, false)"><i class="icon ion-edit minus white-so retornete"></i></button>
              </div>
          </ion-item>
          <div ng-if="task.padrinhos && task.bm">
              <div ng-show="!task.done" >
                 <ion-item class="apagado item-button-right bottom-plus" ng-repeat="item in showTheBest">
                  <div class="tipple">
                      <div style="display: inline;">
                           <i class="icon ion-woman minus chegaprala" ng-show="item.choice == 'noiva'"></i>
                           <i class="icon ion-man minus chegaprala" ng-show="item.choice == 'noivo'"></i>
                      </div>
                      <div style="display: inline;">
                        <strong>{{item.nomeDele}}</strong>  <a class="beton button-round" ng-click="dialNumber(item.phoneDele)"><i class="icon ion-ios-telephone"></i></a> / <strong>{{item.nomeDela}}</strong>  <a class="beton button-round" ng-click="dialNumber(item.phoneDela)"><i class="icon ion-ios-telephone"></i></a></strong>
                      </div>
                  </div>
                  <div class="buttons">
                        <i class="icon ion-edit white-so chegaprala" ng-hide="asInvited" ng-click="improveTheBest(item)"></i>
                        <i class="icon ion-trash-a white-so chegaprala" ng-hide="asInvited" ng-click="notSoBest(item)"></i>
                  </div>
                </ion-item>
              </div>
            </div>
          <div ng-if="task.playlist && task.mus">
              <div ng-show="!task.done" >
                 <ion-item class="apagado item-button-right bottom-plus" ng-repeat="song in showTheSongs">
                  <div class="tipple">
                      <div style="display: inline;">
                           <i class="icon ion-ios-musical-note minus white-so chegaprala"></i>
                      </div>
                      <div style="display: inline;">
                        {{song.title}} / {{song.autor}}
                      </div>
                  </div>
                  <div class="buttons">
                        <i class="icon ion-edit white-so chegaprala" ng-hide="asInvited" ng-click="improveTheSong(song)"></i>
                        <i class="icon ion-trash-a white-so chegaprala" ng-hide="asInvited" ng-click="notSoSong(song)"></i>
                  </div>
                </ion-item>
              </div>
            </div>
        </div>
      </ion-list>
  </div>
</div>
  <div style="min-height: 80px;">
  </div>
