<div padding="false" style="top: 60px; margin-top: 120px;">
 <div class="item text-center med_red">
      <span class="newIt" ><strong>Hora da Cerimônia: {{eventoDaVez.horaCasorio}}</strong></span>
</div> 
      <ion-list>
        <ion-item class="item item-icon-left item-button-right" ng-repeat="task in listCerimonia | filter: { done: false }  | orderBy:['time','-done']">
            <div class="tipple" ng-click="doneClicked($index, task)" >
            <div>
            <i class="icon ion-android-checkbox-outline-blank minus chegaprala" ng-show="!task.done"></i>
            <i class="icon ion-android-checkbox-outline minus assertive chegaprala" ng-show="task.done"></i>
            </div>
            <div>
            <span class="newIt" ng-class="{complete: task.done == true}"><strong>{{task.item}}</strong></span><br>
	        <span ng-class="{complete: task.done == true}">{{task.time | date: "HH:mm"}}</span>
	        </div>
            </div>
            <div class="buttons">
            <button class="button button-clear desbutonico" ng-show="task.padrinhos != undefined" ng-click="bringTheMen(task)"><i class="icon ion-clipboard minus positive-900 retornete"></i></button>
            <button class="button button-clear desbutonico" ng-show="task.bm == true" ng-click="editTask($index, task, true)"><i class="icon ion-person-add minus positive-900 retornete"></i></button>
            <button class="button button-clear desbutonico" ng-click="editTask($index, task, false)"><i class="icon ion-edit minus positive-900 retornete"></i></button>
            </div>
        </ion-item>
      </ion-list>  
      <ion-list>
        <ion-item class="item item-icon-left item-button-right" ng-repeat="task in listCerimonia | filter: { done: true } | orderBy:['time','-done']">
            <div class="tipple" ng-click="doneClicked($index, task)" >
            <div>
            <i class="icon ion-android-checkbox-outline-blank minus chegaprala" ng-show="!task.done"></i>
            <i class="icon ion-android-checkbox-outline minus assertive chegaprala" ng-show="task.done"></i>
            </div>
            <div>
            <span class="newIt" ng-class="{complete: task.done == true}"><strong>{{task.item}}</strong></span><br>
	        <span ng-class="{complete: task.done == true}">{{task.time | date: "HH:mm"}}</span>
	        </div>
            </div>
            <div class="buttons" ng-disable="task.done == true">
              <i class="icon ion-close-circled minus assertive" ng-click="removeMe(task)"></i>
            </div>
        </ion-item> 
      </ion-list>      
</div>
  <div style="min-height: 60px;">
  </div>