<div padding="false" style="top: 60px; margin-top: 120px;">
 <div class="item text-center med_red">
      <span class="newIt" ><strong>Hora da Cerimônia: {{eventoDaVez.horaCasorio}}</strong></span>
</div> 
      <ion-list>
        <div  ng-repeat="task in listCerimonia | orderBy:'time'">
          <ion-item class="item item-button-right">
              <div class="tipple" ng-click="doneClicked($index, task)" >
              <div>
              <span class="newIt" ng-class="{complete: task.done == true}"><strong>{{task.item}}</strong></span><br>
  	        <span ng-class="{complete: task.done == true}">{{task.time | date: "HH:mm"}}</span>
  	        </div>
              </div>
              <div class="buttons">
              <button class="button button-clear desbutonico" ng-show="task.bm == true" ng-click="bringTheMen(task)"><i class="icon ion-person-add minus positive-900 retornete"></i></button>
              <button class="button button-clear desbutonico" ng-click="editTask($index, task, false)"><i class="icon ion-edit minus positive-900 retornete"></i></button>
              </div>
          </ion-item>
          <div ng-if="task.padrinhos && task.bm">
              <div ng-show="!task.done" >
                 <ion-item class="apagado item-button-right" ng-repeat="item in showTheBest">
                  <div class="tipple">
                      <div style="display: inline;">
                           <i class="icon ion-woman minus chegaprala" ng-show="item.choice == 'noiva'"></i>
                           <i class="icon ion-man minus chegaprala" ng-show="item.choice == 'noivo'"></i>
                      </div>
                      <div style="display: inline;">
                        <a class="beton button-round" href="tel: {{item.phoneDele}}"><i class="icon ion-ios-telephone">  <strong>{{item.nomeDele}}</strong></i></a> / <a class="beton button-round" href="tel: {{item.phoneDela}}"><i class="icon ion-ios-telephone">  <strong>{{item.nomeDela}}</strong></i></a></strong>
                      </div>
                  </div>
                  <div class="buttons">
                        <i class="icon ion-edit minus positive-900 chegaprala" ng-click="improveTheBest(item)"></i>
                        <i class="icon ion-trash-a minus assertive" ng-click="notSoBest(item)"></i>
                  </div>    
                </ion-item>           
              </div>
            </div>
        </div>
      </ion-list>    
</div>
  <div style="min-height: 60px;">
  </div>