<div padding="false" style="top: 44px; margin-top: 120px;">
 <div class="item text-center med_red low-bar">
      <span class="newIt" ><strong>Hora da Festa: {{eventoDaVez.horaFesta}}</strong></span>
</div>
<div class="encolhido">
      <ion-list>
        <ion-item class="item item-button-right" ng-repeat="task in listFesta | orderBy:'time'">
            <div class="tipple" ng-click="!asInvited && doneClicked($index, task)" >
            <div>
            <span class="newIt"><strong>{{task.item}}</strong></span><br>
	        <span>{{task.time | date: "HH:mm"}}</span>
	        </div>
            </div>
            <div class="buttons">
              <i class="icon ion-edit minus white-so" ng-hide="asInvited" ng-click="editTask($index, task, false)" ></i>
            </div>
        </ion-item>
      </ion-list>
</div>
</div>
  <div style="min-height: 60px;">

  </div>
