<div padding="false" style="top: 60px; margin-top: 120px;">
  </div>
  <div class="encolhido"> 
      <ion-list>
        <ion-item class="item item-icon-left item-button-right" ng-repeat="task in listPreWedding | orderBy:'time'">
            <div ng-click="!asInvited && doneClicked($index, task)">
            <i class="icon ion-android-checkbox-outline-blank minus chegaprala" ng-show="!task.done"></i>
            <i class="icon ion-android-checkbox-outline minus chegaprala" ng-show="task.done"></i>
            <span class="newIt"><strong>{{task.item}}</strong></span><br>
	           <span class="newIt">{{medetempo(task.time)}}</span>
          </div>
            <div class="buttons">
              <i class="icon ion-edit minus white-so" ng-hide="asInvited" ng-click="editTask($index, task, false)" ></i>
            </div>
        </ion-item>
      </ion-list>
  </div>    
  </div>
  </div>
  <div style="min-height: 60px;">

  </div>
