<div padding="false" style="top: 60px; margin-top: 120px;">
      <ion-list>
        <ion-item class="item item-button-right" ng-repeat="task in listPreWedding | orderBy:'time'">
            <div class="tipple" ng-click="doneClicked($index, task)" >
            <div>
            <span class="newIt"><strong>{{task.item}}</strong></span><br>
	        <span>{{medetempo(task.time)}}</span>
	        </div>
            </div>
            <div class="buttons">
              <i class="icon ion-edit minus positive-900" ng-hide="asInvited" ng-click="editTask($index, task, false)" ></i>
            </div>
        </ion-item> 
      </ion-list>
</div>
  <div style="min-height: 60px;">
    
  </div>