<div padding="false" style="top: 60px; margin-top: 120px;">
 <div class="item text-center med_red">
      <span class="newIt" ><strong>Hora da Cerimônia: {{eventoDaVez.evtHour}}</strong></span>
</div>
   <div class="encolhido">
      <ion-list>
        <ion-item class="item item-button-right" ng-repeat="task in listFestaKid | orderBy:'time'">
            <div class="tipple" ng-click="!asInvited && doneClicked($index, task)" >
            <div>
            <span class="newIt" ng-class="{complete: task.done == true}"><strong>{{task.item}}</strong></span><br>
	        <span ng-class="{complete: task.done == true}">{{task.time | date: "HH:mm"}}</span>
	        </div>
            </div>
            <div class="buttons">
              <i class="icon ion-edit white-so" ng-hide="asInvited" ng-click="editTask($index, task)" ></i>
            </div>
        </ion-item>
      </ion-list>
    </div>   
</div>
  <div style="min-height: 60px;">
    
  </div>