<div padding="false" style="top: 60px; margin-top: 120px;">
  <div class="encolhido">
      <ion-list>
        <ion-item class="item item-icon-left item-button-right" ng-repeat="task in listPreKid | orderBy:'time'">
            <div ng-click="!asInvited && doneClicked(task)" >
              <i class="icon ion-android-checkbox-outline-blank minus" ng-show="!task.done"></i>
              <i class="icon ion-android-checkbox-outline minus" ng-show="task.done"></i>
              <span class="newIt" ng-class="{complete: task.done == true}"><strong>{{task.item}}</strong></span><br>
	             <span ng-class="{complete: task.done == true}">{{medetempo(task.time)}}</span>
	           </div>
            <div class="buttons">
              <i class="icon ion-edit white-so" style="left:5px;" ng-hide="asInvited" ng-click="editTask($index, task)" ></i>
            </div>
        </ion-item> 
      </ion-list>
  </div>    
</div>
  <div style="min-height: 60px;">
    
  </div>