
body{
  font-family: "RobotoDraft";
  font-weight: 400;
}

.item{
padding: 5px;
padding-left: 10px;
padding-top: 10px;
color: #fff;
}

.bar-header{
background-color: #a2babb ! important;
color: #fff !important;
}

.menu .bar.bar-header.expanded {
  transition: none  ! important;
}

.dark-bg .expanded .maior .vermelhao .bar .bar-header{
background-color: #ffff ! important;
}

.white-bg{
background-color: #ffffff ! important;
}

.bar{
background-image: none;
}

.bar .title{
  font-family: "RobotoDraftLight" !important;
}

.rambling{
  font-family: "RobotoDraftLight" ! important;
  text-align: center !important;
  font-size: 22px !important;
}

.mini-rambling{
  font-family: "RobotoDraftLight" ! important;
  text-align: center !important;
  font-size: 16px !important;
}

.balanced{
color: #a49f29 !important;
}

.assertive{
color: #ae5051 !important;
}

.topito{
padding-top: 54px;
}

.topito_minus{
padding-top: 44px;
}

.spaced{
padding-left: 5px;
padding-right: 5px;
}

.big_red{
color: #ae5051;
font-weight:900;
text-shadow: none;
}

.big_red_evt{
color: #ae5051;
font-weight:900;
text-shadow: none;
width: auto ! important;
padding: 0;
}

.med_red{
  font-family: "RobotoDraftLight";
color: #ae5051;
border-bottom: 1px solid #bfaf8d;
}

.lil_red{
font-family: "RobotoDraftLight";
color: #ae5051;
padding-top: 0px !important;
}

.lil_h1 h1{
font-size: 20px !important;
}

.lil_h1 h3{
margin-top: 10px !important;
}

h2 .doirado{
color: #bfaf8d !important;
}

.barbicha h6{
text-align: center !important;
}

.title .mass{
font-family: "RobotoDraftLight" !important;
color: #ae5051 !important;
}

.texto-branco{
color: #fff !important;
}

.item-stacked-label input{
  background-color: transparent;
}

.pitch{
border-bottom: solid 1px #555 !important;
}

.input-label {
max-width: 100%;
width: 100%;
}


.item-input{
display: block !important;
}

.input-label {
max-width: 100% !important;
width: 100% !important;
}


.item-select select {
position: relative !important;
  background-color: transparent;
}

.centos{
width: 100% !important;
}

.assent{
display:block;
padding-left: 0px;
}

.mini-label{
padding-bottom: 0px !important;
min-height: 24px !important;
}

.myred{
background-color: #cd8b8c ! important;
}

.top-minify{
padding-top: 0pc !important;
}

.all-minify{
padding: 0px;
}

.item-select:after {
top: 60% !important;
}

.morna{
color: #A9A9A9 !important;
}

.afana{
width: 100% !important;
height: 150px;
}

.afana img{
width: auto !important;
height: 150px;
}

.icon-finale{
padding-top:30px;
padding-bottom:30px;
margin-bottom: 60px;
align-content:center;
width: 100% !important;
height: 180px;
}

.icon-finale img{
width: auto !important;
height: 180px;
display : block;
margin : auto;
}

.menasfuente{
text-transform: none;
}

.maspaca{
padding-right: 5px !important;
width: 80%;
display: inline !important;
}

.spec_avatar{
margin-top: 40px;
width: 80px;
height: 80px;
display: inline-block;
}

.spec_but{
margin-top: 35px;
margin-left: 150px;
  display: inline-block;
}

.just_red{
color: #ae5051 !important;
}

.awayBut{
margin-right: 15px;
}
/*
.list .item {
border-bottom: 1px solid #bfaf8d;
min-height: 28px;
border-width: 1px !important;
} */

.list .item {
border: none !important;
background-color: #a2babb;
min-height: 28px;
margin-top: 5px;
margin-bottom: 5px;
border-width: 1px !important;
}

.low-bar{
border-bottom: 1px solid #bfaf8d;
border-width: 1px !important;
border-top: 0px	 !important;
}

.item-icon-left{
padding-left: 54px;
}

.newIt{
  font-family:"RobotoDraftThin";
  font-size: 13px;
  line-height: 10px !important;
  display: inline-block;
  vertical-align: middle;
}

.miniNewIt{
font-size: 10px !important;
line-height: 7px !important;
}

.icon {
   vertical-align: middle;
  }

.chegaprala{
padding-right: 10px;
}

.tipple{
display: inline;
vertical-align: middle;
}

.backed > .tabs-top > .tabs{
  top: 44px;
}

.tabs-striped .tabs{
background-color: #ae5051 ! important;
color: #fff;
border-bottom: 1px solid #ae5051 ! important;
box-shadow: none;
}

.tabita{
font-family:"RobotoDraftLight";
color: #bfaf8d !important;
}

.tabs-top.tabs-striped .tab-item.tab-item-active{
color: #fff;
border-bottom: 4px solid #405062 ! important;
}

.item-content{
  padding: 5px 49px 5px 16px !important;
}

.tabs-top.tabs-striped .tab-item.tab-item-active a:visited{
color: #fff ! important;
}

.bitRed{
background-color: #ae5051 !important;
color: #fff ! important;
}

.brag{
background-color: #fff !important;
}

.brag_no{
background: transparent !important;
border: none !important;
}

.brag_no .placeholder-icon{
color: #555;
}

.brag_no input{
background: transparent !important;
}

.retornete{
left: 0px !important;
}

.desbutonico{
padding: 0px  !important;
min-width: 30px !important;
}


.balancado{
background-color: #a7a00c !important;
}

.my-popup .popup-head, .my-popup .popup-body, .my-popup .popup-buttons{
background-color: #fff !important;
}

.popup-buttons .button{
background-color: #405062 !important;
}

.nobottom{
margin-bottom: 0 !important;
}

.topitominus{
padding-top: 44px;
}

.dezpixright{
padding-left: 10px;
}

.disable-pointer-events{
background-color: transparent !important;
}

.radio-icon{
color:#5e0309;
}

.beton {
font-family:"RobotoDraftThin";
color: #a2babb;
 -moz-border-radius: 15px;
-webkit-border-radius: 15px;
padding: 5px;
padding-right: 10px;
padding-left: 10px;
background-color: #fff
}

.betonzon {
font-family:"RobotoDraftLight";
color: #a2babb;
 -moz-border-radius: 15px;
-webkit-border-radius: 15px;
padding: 5px;
padding-right: 10px;
padding-left: 10px;
background-color: #fff;
}

.buttons{
right: 7px ! important;
}

.button .icon{
  font-size: 24px !important;
}

.platform-android .superentered{
font-family: "RobotoDraftLight" ! important;
padding-top: 20px ! important;
padding-bottom: 10px ! important;
color: #B71C1C ! important;
font-size: 60px ! important;
height: 70px ! important;
text-align: center ! important;
}

.platform-ios .superentered{
font-family: "RobotoDraftLight" ! important;
padding-top: 20px ! important;
padding-bottom: 40px ! important;
color: #B71C1C ! important;
font-size: 60px ! important;
height: 100px ! important;
text-align: center ! important;
}


.plus{
color: #3F51B5 ! important;
}

.btn-circle {
width: 30px;
height: 30px;
text-align: center !important;
padding: 8px 0;
right: 3px;
font-size: 12px;
border-radius: 30px;
line-height: 1.428571429 !important;
box-shadow: none;
}

.btn-circle .icon{
left: 9px !important;
}

.redii {
color: #adbabb;
background-color: #fff;
}

.no-border{
border: none !important;
}

.titlezim{
font-size: 14px !important;
text-align: center !important;
color: #ffffff;
}

.abasso{
 padding-bottom: 5px;
}

.button-bar{
 font-family: "RobotoDraftLight";
 box-shadow: none;
}

.button-bar > .button{
 padding-top: 7px;
}

.button-bar > .button:first-child{
  border-radius: 0;
}

.button-bar > .button:last-child{
  border-radius: 0;
}

.event-detail-container{
  margin-top: 342px !important;
  border-top: none !important;
}

.no-event-label{
  color: #555 !important;
  background-color: transparent !important;
  border:0  !important;
  border-bottom: solid 1px #bfaf8d !important;
}

.monthview-eventdetail-timecolumn, .event-detail{
  background-color: transparent !important;
  border:0  !important;
  border-bottom: solid 1px #bfaf8d !important;
}

.table{
  font-family: "RobotoDraftLight";
}

.normalito_item{
  min-height: 48px;
}

.linelito{
  line-height: 38px;
}

.brander{
  width: 100% !important;
}

.inflate{
  padding: 0 !important;
  border: none !important;
  border-bottom: 0 !important;
}

.supper{
  background-color: #000;
  z-index: 1001;
  width: 100% !important;
  height: 50px;
  vertical-align: bottom !important;
  opacity: 0.4 !important; /* CSS3 */
  padding-top:10px !important;
  position: absolute;
  bottom: 5px;
  text-align: center;
}

.whit{
  color: #fff;
  font-size: 30px !important;
}
.mogs{
  padding-top: 20px;
  height: 50px;
vertical-align: center !important;
}

.destop{
  margin-bottom: 20px !important;
}

.maiscinco{
  padding: 5px;
}

.presented{
  color: #405062;
}

.xtended .bar .button{
  width:100% !important;
  min-width:100% !important;
}

.afaster{
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  text-align: right;
}

.smallest{
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  min-height: 8px !important;
  font-size: 8px;
  line-height: 5px;
}

.repeater{
  display: inline-block;;
}
.repeater input{
  background-color: transparent;
  padding-right: 10px;
}

fieldset{
  border: none;
}

fieldset input[type="date"]{
  display: inline;
  padding-right: 20px !important;
}

 fieldset .button{
  background-color: transparent !important;
  box-shadow: none;
}

  fieldset input[type="text"]{
  display: inline;
}

.whip{
  background-color: transparent;
  width: 40% !important;
}

.vade{
  padding-left: 30px;
}

.table-bordered > tbody > tr > td{
  border: 2px solid #fff;
}

.table{
  background-color: #cbe2e6;
}

.monthview-primary-with-reunion{
  background-color: #cd8b8c;
  color: white;
}

.monthview-primary-with-event{
  background-color: #ae5051;
  color: white;
}

.monthview-secondary-with-event {
  background-color: #eacccc;
}

.monthview-current {
background-color: #a2babb;
color: #000;
}


.passado{
  opacity: 0.5;
}

.title .title-center .header-item{
  color: #ffffff !important;
}

.dark-bg h2{
  color: #444 !important;
}

.dark-bg h6{
  color: #444 !important;
}

.white-so{
  color: #fff !important;
}

.encolhido{
  margin-left: 8px;
  margin-right: 8px;
}

.newgray{
  color: #444 !important;
}

.noback{
  background-color: transparent !important;
  color: #444 !important;
}

.log-list{
  padding-top: 10px;
}

.item-log{
  background-color: transparent !important;
}

.bottom-plus{
  padding-bottom: 10px;
}

.ultra-plus{
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align:middle;
}

.button-positive-900{
  background-color: #405062 !important;
}

.positive-900{
 color: #405062 !important;
}

.englobaTime h6{
  color: #fff !important;
}

.branquito{
  background-color: transparent !important;
}

.encolhido .branquito{
  background-color: transparent !important;
}

.item-complex.item-icon-left .item-content{
  padding-left: 54px !important;
}

.center-item{
align-items: center;
}

.css-input {
font-size:16px;
border-color:#cccccc !important; 
border-style:solid !important; 
border-radius:5px !important; 
border-width:1px !important; 
padding:9px  !important; 
box-shadow: 0px 0px 0px 0px rgba(42,42,42,.75);
margin-bottom: 15px !important;
} 
.css-input:focus {
 outline:none; 
} 

.middle-form{
  background-color: rgba(255,255,255,.8);
  width: 80% !important;
  vertical-align:middle !important;
  padding: 25px;
  border-radius:15px !important;
  margin: auto;
  display: block;
  vertical-align: middle;
}

.log-back{
  padding-top: 75px;
  background-image: url(../img/anniversary.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
height: calc(44px + constant(safe-area-inset-top));
height: calc(44px + env(safe-area-inset-top));
}

.platform-ios.platform-cordova:not(.fullscreen) .bar.bar-subheader {
top: calc(44px + constant(safe-area-inset-top));
top: calc(44px + env(safe-area-inset-top));
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
margin-top: constant(safe-area-inset-top);
margin-top: env(safe-area-inset-top);
}

div.tab-nav.tabs {
height: calc(49px + constant(safe-area-inset-bottom));
height: calc(49px + env(safe-area-inset-bottom));
}

ion-content.padding.scroll-content.ionic-scroll.has-header.has-tabs {
top: calc(64px + constant(safe-area-inset-top));
top: calc(64px + env(safe-area-inset-top));
}

.swiper-container {
  width: 100%;
  height: 350px;
  margin: 5px auto;
}
div.swiper-container-horizontal {
  width: 100%;
  height: 400px;
  margin: 5px auto;
}

.mini-r{
  font-size: 20px;
}