/* Empty. Add your own CSS if you like */
/* General
==================================*/
h1 {
    color: #555;
    text-shadow: none;
    font-size: 42px;
    font-family: "RobotoDraft";
}

.pane{
    background-color: #ffffff;
}

.item{
    border-width: 0 !important;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #141414;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


a, a:visited{
    color: #555;
    text-decoration: none;
}

/* Menu
==================================*/
.menu{
     background-color: #ffffff !important;
}

.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
     min-height: 20px;
}

.menu-open .bar.bar-header.expanded {
    background-color: #5e0309;
    min-height: 20px !important;
}

.has-expanded-header{
    top: 200px !important;
    background-color: #cbbea4 !important;
}

.has-expanded-menu{
  top: 90px !important;
}

.menu h2 {
    font-weight: bold;
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
    padding-bottom: 25px;
    font-family: "RobotoDraftThin";
}

.menu h3 {
    font-weight: bold;
    bottom: 0;
    font-size: 14px;
    left: 16px;
    color: #444;
    position: absolute;
    font-family: "RobotoDraft";
}

.menu .avatar {
    height: 88px;
    width: 88px;
    background-color: #fff !important;
    margin-top: 25px;
}

.menu.menu-left * {

    font-family: "RobotoDraftLight";
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}

.bigger > .list .item{
    font-size: 16px;
    border:none;
    font-family: "RobotoDraftLight";
}

.icon_far{
    padding-right: 15px;
}

/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../../img/iconevento.png') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;
}

.hider{
    top: 0px;
}

.calada{
    color: #000;
}

.list .item.item-floating-label, .item-floating-label{
    border-bottom: solid 1px #555 !important;
    border-width: 0 !important;
}

input-placeholder{
    color:    #555;
}

input::-webkit-input-placeholder {
color: #555 !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: #555 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: #555 !important;
}

input:-ms-input-placeholder {
color: #555 !important;
}

.bar{
    box-shadow: none !important;
}

.barbicha_tab{
    min-height: 44px;
    background-color: #ae5051;
}

.barbicha_tab h2{
    font-size: 20px !important;
    text-shadow: none;
    color: #ffffff !important;
    font-family: "RobotoDraft" !important;
}

.barbicha{
    min-height: 80px;
    background-color: #cd8b8c;
    color: #ffffff !important;
    margin-bottom: 20px !important;
}

.barbicha-clear{
min-height: 80px;
    background-color: #fff;
    color: #444 !important;
}

.anti_barbicha{
    min-height: 80px;
    background-color: #e5ded1;
}

.barbicha h1{
    font-size: 22px !important;
    text-shadow: none;
    color: #ffffff !important;
    padding-top: 12px;
    font-family: "RobotoDraftLight" !important;
}
.barbicha h3{
     margin-top: 20px;
    font-size: 14px !important;
    color: #ffffff !important;
    padding-top: 35px;
    font-family: "RobotoDraftLight" !important;
}

.desprega{
    padding-top: 25px;
    overflow: visible !important;
}

.abaixafab{
    margin-top: 30px;
}


/* eventos
==================================*/
.maior{
    font-size: 16px;
}

.meiaboca{
    vertical-align: middle;
    display: inherit;
    height: 50px
}

/* the_event
==================================*/

.tutti{
    padding: 0px;
}

.platform-android .rebaixado{
    top: 120px;
}

.platform-ios .rebaixado{
    top: 180px !important;
}

.pendejo{
    position: relative;
  width: 100%;
}

.pendejo:after {
  display: block;
  padding-bottom: 100%;
}
.claro{
    background-color: #5e0309;
}

.escuro{
 background-color: #3a0105;
}

.contect {
    position: absolute;
    width: 100%;
    height: 100%;

    font-size: 2em;
    padding-top: 20%;
  }
/*
.eventTab .col div.tabtext { padding: 20px 0 20px; min-height: 160px; text-align: center; }
.eventTab .col div.tabtext i { font-size: 60px; color: #bfaf8d; }
.eventTab .col div.tabtext h3 { margin: 24px 0 0 0; padding: 0; text-transform: uppercase; color: #bfaf8d; font-size: 18px; }

.eventTab .col div.tabtext { padding: 20px 0 20px; min-height: 80px; text-align: center; }
.eventTab .col div.tabtext i { font-size: 40px; color: #bfaf8d; }
.eventTab .col div.tabtext h3 { margin: 10px 0 0 0; padding: 0; text-transform: uppercase; color: #bfaf8d; font-size: 14px; }
*/

.eventTab .col div.tabtext { padding: 7px 0 7px; min-height: 40px; text-align: center; }
.eventTab .col div.tabtext i { font-size: 28px; color: #bfaf8d; }
.eventTab .col div.tabtext h3 { margin: 5px 0 0 0; padding: 0; text-transform: uppercase; color: #bfaf8d; font-size: 14px; }

.complete {
  text-decoration: line-through;
  color: #fff;
}


.minus{
    font-size: 24px !important;
}

.maiorzinho{
    font-size: 20px !important;
}

.arreda{
    padding-right: 30px !important;
    bottom: 30px !important;
}

.desce{
    padding-top: 15px;
}

.englobaTime{
    padding: 10px;
    font-size: 21px;
    background-color: #cd8b8c;
}

.englobaMinusTime{
    padding: 10px;
    font-size: 21px;
    background-color: #cc8b8c;
}

.englobaMinorityTime{
    padding: 1px;
    padding-left: 10px;
    font-size: 16px;
    background-color: #bfaf8d;
}

.englobaReceipt{
    padding: 16px;
    font-size: 21px;
}

.retiraTop{
    padding-top: 0px !important;
}

.destaquinho{
    background-color: #fff;
}

.lined h4{
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 0px !important;
}

.lined{
    border-bottom: 1px solid #3F51B5;
    width: 100%;
    display: inline-block;
}

.lined2{
    border-bottom: 1px solid #B71C1C;
    width: 100%;
    display: inline-block;
}

.lined2 h4{
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 0px !important;
}

.result{
    padding-bottom: 10px;
    padding-top: 20px;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

.result_new{
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 24px;
    font-weight: bolder;
}

.lined_new{
    border-top: 1px solid #3F51B5;
    width: 100%;
}

.itener{
    border: 0;
    padding-top: 0px
    padding-top: 30px;
    font-size: 30px;
    font-weight: bolder;
}

.positive{
    color: #405062;
}
