   <ion-modal-view>
  <ion-header-bar align-title="center" class="flat" >
    <h4 class="title texto-branco">Edição de Padrinhos</h4>
    <div class="button button-clear menasfuente" ng-click="cancelTask(4)"><span class="icon ion-close menasfuente"></span></div>
  </ion-header-bar>
  <ion-content class="has-header topito pane" ng-class="{expanded:$scope.isExpanded}">
<div class="row">
  <div class="col col-50">
      <label class="item item-input-inset brag">
        <i class="icon ion-person-add placeholder-icon"></i>
        <input type="text" placeholder="Padrinho" ng-model= casale.nomeDele>
      </label>
  </div>
  <div class="col col-50">
      <label class="item item-input-inset brag">
        <i class="icon ion-android-call placeholder-icon"></i>
        <input type="tel" placeholder="Telefone" ng-model= casale.phoneDele>
      </label>
  </div>
  </div>
  <div class="row">
  <div class="col col-50">
      <label class="item item-input-inset brag" >
        <i class="icon ion-person-add placeholder-icon"></i>
        <input type="text" placeholder="Madrinha" ng-model= casale.nomeDela>
      </label>
  </div>
  <div class="col col-50">
      <label class="item item-input-inset brag" >
        <i class="icon ion-android-call placeholder-icon"></i>
        <input type="tel" placeholder="Telefone" ng-model= casale.phoneDela>
      </label>
  </div>
  </div>

  <div class="row">
  <div class="col col-50 text-center">
      <div  ng-click="defineLados('noivo')">
      Noivo <i class="icon ion-android-checkbox-outline-blank minus" ng-show="casale.choice != 'noivo'"></i>
            <i class="icon ion-android-checkbox-outline minus assertive" ng-show="casale.choice == 'noivo'"></i>
      </div>      
  </div>
  <div class="col col-50 text-center">
      <div  ng-click="defineLados('noiva')">
      Noiva <i class="icon ion-android-checkbox-outline-blank minus" ng-show="casale.choice != 'noiva'"></i>
            <i class="icon ion-android-checkbox-outline minus assertive" ng-show="casale.choice == 'noiva'"></i>
      </div>
  </div>
  </div>
  <!-- noivo ou noiva -->
      <div class="item" >
      <button class="button button-small button-full button-assertive myred ink" ng-click="correctBest()">Editar</button>
      </div>

  </ion-content>
</ion-modal-view>    