   <ion-modal-view>
  <ion-header-bar align-title="center" class="flat" >
    <h4 class="title texto-branco">Edição de Musicas</h4>
    <div class="button button-clear menasfuente" ng-click="cancelTask(6)"><span class="icon ion-close menasfuente"></span></div>
  </ion-header-bar>
  <ion-content class="has-header topito pane" ng-class="{expanded:$scope.isExpanded}">
<div class="row">
  <div class="col col-50">
      <label class="item item-input-inset brag">
        <i class="icon ion-ios-musical-note placeholder-icon"></i>
        <input type="text" placeholder="Nome da Música" ng-model= parade.title>
      </label>
  </div>
  <div class="col col-50">
      <label class="item item-input-inset brag">
        <input type="text" placeholder="Momento" ng-model= parade.autor>
      </label>
  </div>
  </div>
  <!-- noivo ou noiva -->
      <div class="item" >
      <button class="button button-small button-full button-assertive myred ink" ng-click="correctSong()">Editar</button>
      </div>

  </ion-content>
</ion-modal-view>    