   <ion-modal-view>
  <ion-header-bar align-title="center" class="flat">
    <h4 class="title texto-branco">Inserir Pessoa</h4>
    <div class="button button-clear menasfuente" ng-click="cancelTask(4)"><span class="icon ion-close menasfuente"></span></div>
  </ion-header-bar>
<ion-content class="has-header topito pane no-border" ng-class="{expanded:$scope.isExpanded}">
<div class="list spaced text-center">
      <h5 class="big_red">Clique para escolher a pessoa de sua lista de contatos</h5>
</div>

  <ion-list>
        <ion-item class="item-text-wrap" ng-repeat="contato in contatos" ng-click="chooseMyContact(contato)">
         <span class="maior"><strong>{{contato.name.formatted}}</strong></span><br>
          {{contato.phoneNumbers[0].value}}
        </ion-item>
      </ion-list>
      </ion-content>
   </ion-modal-view>