   <ion-modal-view>
  <ion-header-bar align-title="center" class="flat">
    <h4 class="title texto-branco">Busca nos Contatos</h4>
    <div class="button button-clear menasfuente" ng-click="captureContact()"><span class="icon ion-close menasfuente"></span></div>
  </ion-header-bar>
<ion-content class="has-header topito pane no-border" ng-class="{expanded:$scope.isExpanded}">
<div class="item-input-inset item-icon-left">
<i class="icon ion-search placeholder-icon assertive minus"></i>
            <input type="text" placeholder=" Buscar por nome" ng-model="search.displayName" 
                  style="width:100%; padding-left:11px, padding-top:3px; padding-right:3px; padding-bottom:3px; background-color: rgba(0, 0, 0, 0.1);" />

</div>
<div class="list spaced text-center">
      <h5 class="big_red">{{phrase}}</h5>
</div>

  <ion-list>
        <ion-item class="item-text-wrap" ng-repeat="contacto in contactos | orderBy:'displayName' | filter:search" ng-click="chooseContact(contacto)">
         <span class="maior"><strong>{{contacto.name.formatted}}</strong></span><br>
          {{contacto.phoneNumbers[0].value}}
        </ion-item>
      </ion-list>
      </ion-content>
   </ion-modal-view>