   <ion-modal-view>
  <ion-header-bar align-title="center" class="flat">
    <h4 class="title texto-branco">Editar colaborador</h4>
    <div class="button button-clear menasfuente" ng-click="cancelTask(3)"><span class="icon ion-close menasfuente"></span></div>
  </ion-header-bar>
<ion-content class="has-header topito pane" ng-class="{expanded:$scope.isExpanded}">
<div class="list spaced">
      <h4 class="big_red">Insira os dados do colaborador</h4>
</div>
  <label class="item item-input item-stacked-label pitch">
    <span class="input-label big_red">Nome</span>
    <input type="text" placeholder="Nome" ng-model="modifItem.nome" required>
  </label>
  <label class="item item-input item-stacked-label pitch">
    <span class="input-label big_red">Telefone</span>
    <input type="tel" placeholder="Telefone" ng-model="modifItem.tel" required>
  </label>  
  <label class="item item-input item-stacked-label pitch">
    <span class="input-label big_red">Email</span>
    <input type="email" placeholder="Email" ng-model="modifItem.email">
  </label>
  <div class="item">
     <div class="buttons text-right">
         <button class="button button-fab button-assertive myred awayBut" ng-click="delEvento()">
         <i class="icon icon ion-trash-a"></i>
        </button>                      
        <button class="button button-fab button-positive-900 awayBut" ng-click="updateTask(3)">
            <i class="icon icon ion-checkmark"></i>
        </button>
    </div>
  </div>
      </ion-content>
   </ion-modal-view>