<ion-modal-view>
  <ion-header-bar align-title="center" class="flat">
    <h4 class="title texto-branco">Editar colaborador</h4>
    <div class="button button-small button-clear menasfuente" ng-click="closeModal(4)"><span class="icon ion-close menasfuente"></span></div>
  </ion-header-bar>
  <ion-content class="has-header topitominus pane no-border" ng-class="{expanded:$scope.isExpanded}">
  	  <div class="barbicha lil_h1 destop">
	  		<div class="englobaTime text-center" ng-click="goneFly()">
	        	<h1>Edite os dados do Colaborador</h1>
	        	<h3 style="padding-top: 0px;">Obs.: Só os dados dentro da equipe serão alterados</h3>
	      	</div>
	   </div>
  <label class="item item-input item-stacked-label pitch">
      <span class="input-label big_red">Nome:</span>
    <input type="text" ng-model="colabToEdit.displayName">
  </label>
  <label class="item item-input item-stacked-label pitch">
    <span class="input-label big_red">Email: </span>
    <input type="email" ng-model="colabToEdit.email" ng-disabled="true">
  </label>
  <label class="item item-input item-stacked-label pitch">
    <span class="input-label big_red">Telefone: </span>
    <input type="tel" ng-model="colabToEdit.telefone">
  </label>
  <div class="item">
     <div class="buttons text-right">
         <button class="button button-fab button-assertive myred menasfuente" ng-click="cancelEdition(4)">
            <i class="icon icon ion-close"></i>
        </button>                   
        <button class="button button-fab button-positive-900 awayBut" ng-click="saveColabEdition(4)">
            <i class="icon icon ion-checkmark"></i>
        </button>
    </div>
  </div>
  </ion-content> 
</ion-modal-view>