   <ion-modal-view>
  <ion-header-bar align-title="center" class="flat">
    <h4 class="title texto-branco">Editar Fornecedor</h4>
    <div class="button button-clear menasfuente" ng-click="cancelTask(3)"><span class="icon ion-close menasfuente"></span></div>
  </ion-header-bar>
<ion-content class="has-header topito pane" ng-class="{expanded:$scope.isExpanded}">
<div class="list spaced">
      <h4 class="big_red">Insira os dados do Fornecedor</h4>
</div>
  <label class="item item-input item-stacked-label pitch">
    <span class="input-label big_red">Nome</span>
    <input type="text" placeholder="Nome" ng-model="modifItem.nome" required>
  </label>
  <label class="item item-input item-stacked-label pitch">
    <span class="input-label big_red">Telefone</span>
    <input type="tel" placeholder="Telefone" ng-model="modifItem.tel" required>
  </label>  
  <label class="item item-input item-stacked-label pitch">
    <span class="input-label big_red">Email</span>
    <input type="email" placeholder="Email" ng-model="modifItem.email">
  </label>
<label class="item item-input item-select pitch">
    <div class="input-label big_red">
      Tipo de Fornecedor
    </div>
    <select  ng-model="mySelect" ng-change="changeEventType(mySelect)" ng-options="tipo.tips for tipo in tipolog">
    </select>
  </label>
  <label class="item item-input item-stacked-label pitch" ng-hide="evtPreCad">
    <span class="input-label big_red">Que outro tipo de Fornecedor?</span>
    <input type="text" placeholder="Descreva aqui" ng-model="mySelect">
  </label>
    <div class="list spaced">
      <h4 class="big_red">Pagamento do Fornecedor</h4>
    </div>
   <label class="item item-input item-stacked-label pitch">
    <span class="input-label big_red">Valor do contrato</span>
    <input type="text" placeholder="0,00" ng-model="modifItem.valor_contrato" ui-number-mask="2">
  </label>  
<label class="item item-input item-select pitch">      
    <div class="input-label big_red">
      Forma de pagamento
    </div>
    <select ng-model="formaPagto" ng-change="pagueMe(formaPagto)" data-ng-options="pgto.forma for pgto in pagform">
    </select>
  </label>
   <!--  
   <label class="item item-input item-stacked-label pitch">
    <span class="input-label big_red">Número de parcelas</span>
    <input type="number" ng-model="modifItem.parcelas">
  </label>
    </label>
 
     <label class="item item-input item-stacked-label pitch">
      <span class="input-label big_red">Valor da parcela</span>
      <input type="text" placeholder="0,00" ng-model="modifItem.valor_parcelas" ui-number-mask="2">
     </label>
  -->
    <div class="item item-input-label big_red">
      Parcelas
    </div>
    <div class="item ribs">
    <fieldset  data-ng-repeat="parcel in parcelas">
<input type="date" ng-model="parcel.venc" date-format="DD/MM/YYYY">&nbsp;&nbsp;R$&nbsp;&nbsp;
<input class="whip" type="text" placeholder="0,00" ng-model="parcel.parcela" ui-number-mask="2">
      <button class="button desbutonico" ng-show="$last" ng-click="removeChoice()">
        <i class="icon ion-close-circled minus assertive"></i>
      </button>
   </fieldset>
    <button class="button assertive" ng-click="addNewChoice()">Adicionar parcela</button>
 </div> 
   <label class="item item-input item-stacked-label pitch">
    <span class="input-label big_red">Observações do contrato
    </span>
    <textarea ng-model="modifItem.obs" style="background: transparent;">
  </textarea>
  </label> 
  <div class="item">
     <div class="buttons text-right">
         <button class="button button-fab button-assertive myred awayBut" ng-click="delEvento()">
         <i class="icon icon ion-trash-a"></i>
        </button>                      
        <button class="button button-fab button-positive-900 awayBut" ng-click="updateTask(3)">
            <i class="icon icon ion-checkmark"></i>
        </button>
    </div>
  </div>
      </ion-content>
   </ion-modal-view>