<ion-modal-view>
  <ion-header-bar align-title="center" class="flat">
    <h4 class="title texto-branco">Dados do colaborador</h4>
    <div class="button button-small button-clear menasfuente" ng-click="closeModal(3)"><span class="icon ion-close menasfuente"></span></div>
  </ion-header-bar>
  <ion-content class="has-header topitominus pane no-border" ng-class="{expanded:$scope.isExpanded}">
  	  <div class="barbicha lil_h1 destop">
	  		<div class="englobaTime text-center" ng-click="goneFly()">
	        	<h1>Colaborador:{{spyed.displayName}}</h1>
	      	</div>
	   </div>
  	<div class="row mogs"  ng-show="spyed.displayName">
		<div class="col col-25 big_red_evt maiscinco">Nome: </div>
		<div class="col col-75">{{spyed.displayName}}</div>
	</div>
  	<div class="row mogs">
		<div class="col col-25 big_red_evt maiscinco">Email: </div>
		<div class="col col-75">{{spyed.email}}</div>
	</div>
  	<div class="row mogs"  ng-show="spyed.telefone">
		<div class="col col-25 big_red_evt maiscinco">Telefone: </div>
		<div class="col col-75">{{spyed.telefone}} <a class="betonzon button-round" ng-click="dialNumber(spyed.tel)"><i class="icon ion-ios-telephone"></i></a></div>
	</div>
  </ion-content> 
</ion-modal-view>