<ion-modal-view>
  <ion-header-bar align-title="center" class="flat">
    <h4 class="title texto-branco">Gerenciar Grupos</h4>
    <div class="button button-clear menasfuente" ng-click="closeModal(2)"><span class="icon ion-android-close menasfuente"></span></div>
  </ion-header-bar>
  	<ion-content class="has-header topitominus pane no-border" ng-class="{expanded:$scope.isExpanded}">
		<div class="englobaMinusTime text-center">
		<h5 class="white-so">Participantes do grupo</h5>
		</div>
		<div class="text-center" ng-hide="haveColabs">
			<div>
				<h4 class="white-so">Não existem colaboradores que compartilhem este evento</h4>
			</div>
		</div>
	<div class="encolhido">
		<div class="text-center" ng-show="haveColabs">
			<div>
				<h5 class="big_red">Registre seus colaboradores para que eles também tenham acesso às informações do evento.</h5>
			</div>
		</div>
			<ion-list ng-show="haveColabs">
				<ion-item class=" normalito_item item-button-right item-text-wrap ink" ng-repeat="mycolab in colaboradores">
	
					<span class="linelito" ng-hide="mycolab.displayName" ng-click="revealColab(mycolab)">{{mycolab.email}}</span>
					<span class="linelito" ng-show="mycolab.displayName" ng-click="revealColab(mycolab)">{{mycolab.displayName}}</span>
					<div class="buttons">
						<button class="button button-clear desbutonico" ng-click="editColab($index, mycolab)"><i class="icon ion-edit white-so retornete"></i></button> 
						<button class="button button-clear desbutonico" ng-click="delColab(mycolab.uid)">
							<i class="icon ion-close-circled white-so retornete"></i>
						</button>
					</div>
				</ion-item>
			</ion-list>
	</div>		
 		<div class="englobaMinusTime text-center">
      		<h4 class="white-so">Inserir um colaborador registrado no Yuppi</h4>
		</div>
	<div class="encolhido">	
		<form name="newColab" novalidate>
		  <label class="item item-input item-stacked-label pitch">
		    <input type="email" placeholder="Digite o email do colaborador" ng-model="newColab.mail" required>
		  </label>

		  <div class="item">
		     <div class="buttons text-right">                 
		        <button class="button button-fab button-positive-900 awayBut" ng-click="insertColab(newColab)" ng-disabled="newColab.$invalid">
		            <i class="icon icon ion-checkmark"></i>
		        </button>
		    </div>
		</form>
	</div>	    
		  </div>
	</ion-content>
	<ion-footer-bar align-title="center" class="flat" style="background-color: #ae5051; color: #fff;">
		<h1 class = "title" style="color: #fff;" ng-click="deleteGroup()">Excluir este grupo</h1>
	</ion-footer-bar>
</ion-modal-view>