   <ion-modal-view>
  <ion-header-bar align-title="center" class="flat">
    <h4 class="title texto-branco">Reunião</h4>
    <div class="button button-clear menasfuente" ng-click="cancelTask(1)"><span class="icon ion-close menasfuente"></span></div>
  </ion-header-bar>
<ion-content class="has-header topito pane no-border" ng-class="{expanded:$scope.isExpanded}">
<div class="list spaced">
      <h4 class="big_red">Marcar Reunião</h4>
</div>


  <label class="item item-input item-stacked-label pitch">
    <input type="text" placeholder="Local da reunião" ng-model="newTask.local" require>
  </label>
    <label class="item item-input ">
    <span class="input-label big_red_evt">Dia</span>
    <input type="date" ng-model="itemDate.value" date-format="DD/MM/YYYY" ng-change="seeChange01()">
  </label>     
  <label class="item item-input ">
    <span class="input-label big_red_evt">Hora</span>
    <input type="time" ng-model="itemTime.value" date-format="HH:mm" ng-maxlength=5 ng-change="seeChange01()">
  </label>   
  <div class="item">
     <div class="buttons text-right">                  
        <button class="button button-fab button-positive-900 awayBut" ng-click="saveTask(1)">
            <i class="icon icon ion-checkmark"></i>
        </button>
    </div>
  </div>
      </ion-content>
   </ion-modal-view>