   <ion-modal-view>
  <ion-header-bar align-title="center" class="flat">
    <h4 class="title texto-branco">Convidado</h4>
    <div class="button button-clear menasfuente" ng-click="cancelTask(1)"><span class="icon ion-close menasfuente"></span></div>
  </ion-header-bar>
<ion-content class="has-header topito pane no-border" ng-class="{expanded:$scope.isExpanded}">
<div class="list spaced">
      <h4 class="big_red">Inserir um Novo Convidado</h4>
</div>
<div class="item" ng-hide="eventoDaVez.unique_invites">
  <div class="text-center">Insira abaixo o nome do convidado <br>e o número de convites a serem confirmados.</div>
  <ion-grid>
  <ion-row>
    <ion-col col-8>
      <label class="item item-input item-stacked-label pitch">
        <input type="text" placeholder="Nome do Convidado" ng-model="newGuest.nome" require>
      </label>    
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4>
       <label class="item item-input item-stacked-label pitch">
          <input type="number" ng-model="newGuest.convidados">
        </label>      
    </ion-col>
  </ion-row>
</ion-grid>
</div>
<div class="item" ng-show="eventoDaVez.unique_invites">
  <div class="text-center">Insira abaixo o nome do convidado <br>e se é criança ou não.</div>
  <ion-grid>
  <ion-row>
    <ion-col col-8>
      <label class="item item-input item-stacked-label pitch">
        <input type="text" placeholder="Nome do Convidado" ng-model="newGuest.nome" require>
      </label>    
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4>
       <ion-checkbox ng-model="newGuest.crianca"><span class="vade">Criança</span></ion-checkbox>         
    </ion-col>
  </ion-row>
</ion-grid>
</div>
  <div class="item">
     <div class="buttons text-right">                  
        <button class="button button-fab button-positive-900 awayBut" ng-click="saveTask()">
            <i class="icon icon ion-checkmark"></i>
        </button>
    </div>
  </div>
      </ion-content>
   </ion-modal-view>