   <ion-modal-view>
  <ion-header-bar align-title="center" class="flat">
    <h4 class="title texto-branco">Inserir Nova Receita</h4>
    <div class="button button-clear menasfuente" ng-click="cancelTask(1)"><span class="icon ion-close menasfuente"></span></div>
  </ion-header-bar>
<ion-content class="has-header topito pane no-border" ng-class="{expanded:$scope.isExpanded}">
  <label class="item item-input item-stacked-label pitch">
      <span class="input-label big_red">Valor da Receita</span>
    <input type="text" class="superentered plus" placeholder="0,00" ng-model="newBudget.valor" ui-number-mask="2">
  </label>
  <label class="item item-input item-stacked-label pitch">
    <span class="input-label big_red">Tipo de receita</span>
    <input type="text" placeholder="Descreva a entrada" ng-model="newBudget.descrip" >
  </label>

  <div class="item">
     <div class="buttons text-right">
         <button class="button button-fab button-assertive myred menasfuente" ng-click="cancelTask(1)">
            <i class="icon icon ion-close"></i>
        </button>                   
        <button class="button button-fab button-positive-900 awayBut" ng-click="saveTask(1)">
            <i class="icon icon ion-checkmark"></i>
        </button>
    </div>
  </div>
      <div class="englobaReceipt retiraTop just_red">
    <div  class="lined2">
    <h4 class="just_red">Receitas Lançadas</h4>
    </div>

    </div>
    <div class="encolhido">
  <ion-list>
        <ion-item class="item-text-wrap item-button-right" ng-repeat="budget in listCheck | orderBy:'id':true | filter: 'receita'" ng-class="{positive: budget.lancado === 'receita', just_red: budget.lancado === 'despesa'}">
         <span class="maior"><strong>{{budget.valor | currency:"R$ "}}</strong></span><br>
          {{budget.descrip}}
          <div class="buttons">
         <i class="icon ion-edit minus white-so maiorzinho chegaprala" ng-click="editMoneyTask(budget)"></i>
             <i class="icon ion-trash-a minus white-so maiorzinho chegaprala" ng-click="delEvento(budget)"></i>
      </div>
        </ion-item>
      </ion-list>   
    </div>  
      </ion-content>
   </ion-modal-view>