   <ion-modal-view>
  <ion-header-bar align-title="center" class="flat">
    <h4 class="title texto-branco">Item de Visita Técnica</h4>
    <div class="button button-clear menasfuente" ng-click="cancelTask(1)"><span class="icon ion-close menasfuente"></span></div>
  </ion-header-bar>
<ion-content class="has-header topito pane no-border" ng-class="{expanded:$scope.isExpanded}">
<div class="list spaced">
      <h4 class="big_red">Inserir um Novo Item de Visita</h4>
</div>


  <label class="item item-input item-stacked-label pitch">
    <input type="text" placeholder="O que é o item?" ng-model="newTask.item" require>
  </label>
  <label class="item item-input item-stacked-label pitch">
    <input type="textarea" style="min-height: 120px;" placeholder="Descreva o item" ng-model="newTask.descricao">
  </label>

  <div class="item">
     <div class="buttons text-right">                  
        <button class="button button-fab button-positive-900 awayBut" ng-click="saveTask(1)">
            <i class="icon icon ion-checkmark"></i>
        </button>
    </div>
  </div>
      </ion-content>
   </ion-modal-view>