   <ion-modal-view>
  <ion-header-bar align-title="center" class="flat">
    <h4 class="title texto-branco">Modificar Item na Lista</h4>
    <div class="button button-small button-clear menasfuente" ng-click="notUpdateTask(2, modifItem)"><span class="icon ion-close menasfuente"></span></div>
  </ion-header-bar>
<ion-content class="has-header topito pane no-border" ng-class="{expanded:$scope.isExpanded}">
<div class="list spaced">
      <h4 class="big_red">Modifique o Item da Visita Técnica</h4>
</div>


  <label class="item item-input item-stacked-label pitch">
    <input type="text" ng-model="modifItem.item">
  </label>
  <label class="item item-input item-stacked-label pitch">
    <input type="textarea" style="min-height: 120px;" placeholder="Descreva o item" ng-model="modifItem.descricao">
  </label>  
  <!--
  <label class="item item-input item-stacked-label pitch">
    <ion-checkbox class="item-checkbox-left " style="border:none;" ng-checked="modifItem.done">Status</ion-checkbox>
  </label>
  -->
  <div class="item">
     <div class="buttons text-right">
         <button class="button button-fab button-assertive myred awayBut" ng-click="delEvento()">
         <i class="icon icon ion-trash-a"></i>
        </button>             
        <button class="button button-fab button-positive-900 awayBut" ng-click="updateTask(2)">
            <i class="icon icon ion-checkmark"></i>
        </button>
    </div>
  </div>
      </ion-content>
   </ion-modal-view>