   <ion-modal-view>
  <ion-header-bar align-title="center" class="flat">
    <h4 class="title texto-branco">Modificar Reunião</h4>
    <div class="button button-small button-clear menasfuente" ng-click="notUpdateTask(2, modifItem)"><span class="icon ion-close menasfuente"></span></div>
  </ion-header-bar>
<ion-content class="has-header topito pane no-border" ng-class="{expanded:$scope.isExpanded}">
<div class="list spaced">
      <h4 class="big_red">Mude a reunião</h4>
</div>

  <label class="item item-input item-stacked-label pitch">
    <input type="text" placeholder="Local da reunião" ng-model="modifItem.local" require>
  </label>
    <label class="item item-input ">
    <span class="input-label big_red_evt">Dia</span>
    <input type="date" ng-model="itemDate.value" date-format="DD/MM/YYYY" ng-change="seeChange01()">
  </label>     
  <label class="item item-input ">
    <span class="input-label big_red_evt">Hora</span>
    <input type="time" ng-model="itemTime.value" date-format="HH:MM" ng-change="seeChange01()">
  </label> 
  <div class="item">
     <div class="buttons text-right">
         <button class="button button-fab button-assertive myred awayBut" ng-click="delEvento()">
         <i class="icon icon ion-trash-a"></i>
        </button>             
        <button class="button button-fab button-positive-900 awayBut" ng-click="updateTask(2)">
            <i class="icon icon ion-checkmark"></i>
        </button>
    </div>
  </div>
      </ion-content>
   </ion-modal-view>