   <ion-modal-view>
  <ion-header-bar align-title="center" class="flat" >
    <h4 class="title texto-branco">Modificar Item na Lista</h4>
    <div class="button button-clear" ng-click="cancelTask(2)"><span class="icon ion-close"></span></div>
  </ion-header-bar>
<ion-content class="has-header topito pane no-border" ng-class="{expanded:$scope.isExpanded}">
<div class="list spaced">
      <h4 class="big_red">Modifique o Item</h4>
</div>


  <label class="item item-input item-stacked-label pitch">
    <input type="text" ng-model="modifItem.item">
  </label>

<label class="item item-input item-select pitch"  ng-show="retroMes">
    <div class="input-label big_red">
      Tempo restante
    </div>
    <select ng-options="time.tempo as time.label for time in theItsi.values" ng-model="theItsi.meses" ng-change="changeEventType(theItsi.meses)">
    </select>
  </label>
  <!--   
  <label class="item item-input item-stacked-label pitch">
    <ion-checkbox class="item-checkbox-left " style="border:none;" ng-checked="modifItem.done" ng-click="updateClicked()">Status</ion-checkbox>
  </label>
  -->
  <div class="item">
     <div class="buttons text-right">
         <button class="button button-fab button-assertive myred menasfuente" ng-click="removefromUpdate(2)">
            Apagar
        </button>                  
        <button class="button button-fab button-positive-900" ng-click="updateTask(2)">
            <i class="icon icon ion-checkmark menasfuente"> Ok</i>
        </button>
    </div>
  </div>
      </ion-content>
   </ion-modal-view>