   <ion-modal-view>
  <ion-header-bar align-title="center" class="flat" >
    <h4 class="title texto-branco">Modificar Item na Lista</h4>
    <div class="button button-clear menasfuente" ng-click="cancelTask(2)"><span class="icon ion-close menasfuente"></span></div>
  </ion-header-bar>
<ion-content class="has-header topito pane" ng-class="{expanded:$scope.isExpanded}">
<div class="list spaced">
      <h4 class="big_red" ng-show="actualTab == 'pre'">Modifique o Item Pré-evento</h4>
      <h4 class="big_red" ng-show="actualTab == 'ceremony'">Modifique o Item da Cerimônia</h4>
      <h4 class="big_red" ng-show="actualTab == 'party'">Modifique o Item da Festa</h4>
</div>
  <label class="item item-input item-stacked-label pitch">
      <div class="input-label big_red">
      Item
    </div>
    <input type="text" ng-model="modifItem.item">
  </label>

 <label class="item item-input item-stacked-label pitch" ng-show="actualTab != 'pre'">
    <div class="input-label big_red" ng-show="actualTab != 'pre'">
      Horário
    </div>
    <input type="time" ng-model="itemTime.value" date-format="HH:mm" ng-show="actualTab != 'pre'">
  </label>

<label class="item item-input item-select pitch" ng-show="actualTab == 'pre'">
    <div class="input-label big_red" ng-show="actualTab == 'pre'">
      Quanto tempo antes?
    </div>
    <select ng-options="time.tempo as time.label for time in theItsi.values" ng-model="theItsi.meses" ng-change="changeEventType(theItsi.meses)" ng-show="actualTab == 'pre'">
    </select>
  </label>

  <div class="item">
     <div class="buttons text-right">
         <button class="button button-fab button-assertive myred awayBut" ng-click="delEvento()">
            <i class="icon icon ion-trash-a"></i>
        </button>                  
        <button class="button button-fab button-positive-900 awayBut" ng-click="updateTask(2)">
            <i class="icon icon ion-checkmark"></i>
        </button>
    </div>
  </div>
      </ion-content>
   </ion-modal-view>