   <ion-modal-view>
  <ion-header-bar align-title="center" class="flat" >
    <h4 class="title texto-branco">Edição de Músicas</h4>
    <div class="button button-clear menasfuente" ng-click="cancelTask(5)"><span class="icon ion-close menasfuente"></span></div>
  </ion-header-bar>
  <ion-content class="has-header topito pane no-border" ng-class="{expanded:$scope.isExpanded}">
  <div class="item text-center no-border">Reorganize a ordem das músicas</div>
  <ion-list show-reorder="true">
    <ion-item class="apagado" ng-repeat="item in showTheSongs" item="item"
                  href="#/item/{{item.title}}" class="item-remove-animate">
      <div class="tipple">
          <div style="display: inline;">
            	 <i class="icon ion-ios-musical-note minus chegaprala"></i>
          </div>
          <div style="display: inline;">
            <strong>{{item.title}}</strong> / <strong>{{item.autor}}</strong>
          </div>
      </div>
    	<ion-reorder-button class="ion-navicon button-clear desbutonico" on-reorder="moveSong(item, $fromIndex, $toIndex)"></ion-reorder-button>
    </ion-item>
  </ion-list>
  <!-- O best man fica aqui dentro -->  

    <div class="item">
      <button class="button button-small button-full button-assertive myred ink" ng-click="insertSong()" ng-show="!plusSong">Inserir Música</button>
  </div>
    <!-- noivo ou noiva -->
  <div class="row">
  <div class="col col-50">
      <label class="item item-input-inset brag" ng-show="plusSong">
        <i class="icon ion-ios-musical-note placeholder-icon"></i>
        <input type="text" placeholder="Nome da música" ng-model= parade.title>
      </label>
  </div>
  <div class="col col-50">
      <label class="item item-input-inset brag" ng-show="plusSong">
        <input type="text" placeholder="Momento" ng-model= parade.autor>
      </label>
  </div>
  </div>
  <!-- noivo ou noiva -->
      <div class="item" ng-show="plusSong">
      <button class="button button-small button-full button-assertive myred ink" ng-click="putSong()">Adicionar</button>
      </div>  

  <!-- O best man fica aqui dentro -->


  </ion-content>
</ion-modal-view>