  <ion-modal-view>
  <ion-header-bar align-title="center" class="flat">
    <h4 class="title texto-branco">Pagamento</h4>
    <div class="button button-clear menasfuente" ng-click="cancelSign(1)"><span class="icon ion-close menasfuente"></span></div>
  </ion-header-bar>
<ion-content class="has-header topito pane no-border" ng-class="{expanded:$scope.isExpanded}" padding>
      <h4 class="big_red text-center">Insira seu cartão de crédito</h4>
<form name="ccForm" novalidate>
<div class="row">
  <div class="col">
    <h5 class="big_red">Número do cartão</h5>
  </div>
</div>  
<div class="row">
  <div class="col">
          <input type="text" class="form-control css-input" id="cardNumber" cc-number cc-eager-type name="ccNumber" ng-model="card.number" ng-required="true" maxlength="16" style="width: '100%'" creditcardFlag>
  </div>
</div>
<div class="row">
  <div class="col">
    <h5 class="big_red">Nome no cartão</h5>
  </div>
</div>  
<div class="row">
  <div class="col">
          <input type="text" class="form-control css-input" id="cardNumber" ng-model="card.nomecard" ng-required="true" maxlength="50" style="width: '100%'">
  </div>
</div>
<div class="row">
  <div class="col">
    <h5 class="big_red">Data de Nascimento do Titular</h5>
  </div>
</div> 
  <div class="col">
    <input type="date" ng-model="card.birthDate" date-format="DD/MM/YYYY" ng-required="true" >
  </div>
</div>
<div class="row">
  <div class="col">
    <h5 class="big_red">CPF do Titular</h5>
  </div>
</div> 
  <div class="col">
    <input type="number" maxlength="11" ng-model="card.cpf" ng-required="true" class="form-control css-input">
  </div>
<div class="row">
  <div class="col-80">
    <h5 class="big_red">Validade</h5>
  </div>
</div>
<div class="row">
  <div class="col-33">
    <label for="month" class="big_red">MÊS</label>
 <input placeholder="MM" type="text" class="css-input" ng-model="card.month" ng-required="true" maxlength="2" size="2">
  </div>
  <div class="col-33">
      <label for="year" class="big_red">ANO</label>
      <input placeholder="YY" type="text" class="form-control css-input" cc-exp-year name="ccExpYear" ng-model="card.year" ng-required="true" maxlength="2" size="2">
  </div>
  <div class="col-33">
      <label for="cvc" class="big_red">CVC</label>
      <input type="text" class="form-control css-input" id="cvc" cc-cvc cc-type="ccForm.ccNumber.$ccType" name="ccCvc" ng-model="card.cvc" ng-required="true" maxlength="4" size="4">
  </div>
  </div>
<div class="row">
  <div class="col-50">
        <button class="button button-assertive myred" ng-click="resetCard(1)">
          Cancelar
        </button>
  </div>
  <div class="col-50">                 
        <button class="button button-positive-900" ng-click="saveCard(1)" ng-disabled="ccForm.$invalid">
          Salvar
        </button>
  </div>
</div>  
</form>
 

      </ion-content>
   </ion-modal-view>