  <ion-modal-view>
  <ion-header-bar align-title="center" class="flat">
    <h4 class="title texto-branco">Dados do comprador</h4>
    <div class="button button-clear menasfuente" ng-click="resetBuyer()"><span class="icon ion-close menasfuente"></span></div>
  </ion-header-bar>
<ion-content class="has-header topito pane no-border" ng-class="{expanded:$scope.isExpanded}" padding>
      <h4 class="big_red text-center">Insira seus dados corretamente</h4>
      <p class="text-center">Todos os dados são obrigatórios</p>
<form name="ddForm" novalidate>
   <div via-cep-form>
  <label class="item item-input item-stacked-label pitch">
    <span class="input-label big_red_evt">Nome Completo</span>
    <input type="text" ng-model="info.sender.name" ng-required="true" >
  </label>
  <label class="item item-input item-stacked-label pitch">
    <span class="input-label big_red_evt">E-mail</span>
    <input type="email" ng-model="info.sender.email" ng-required="true" >
  </label>
  <label class="item item-input item-stacked-label pitch">
    <span class="input-label big_red_evt">DDD</span>
    <input type="number" maxlength="3" ng-model="info.sender.phone.areaCode" ng-required="true" >
  </label>
  <label class="item item-input item-stacked-label pitch">
    <span class="input-label big_red_evt">Telefone</span>
    <input type="number" maxlength="9" ng-model="info.sender.phone.number" ng-required="true" >
  </label>
  <label class="item item-input item-stacked-label pitch">
    <span class="input-label big_red_evt">CPF</span>
    <input type="number" maxlength="11" ng-model="info.sender.documentacao.value" ng-required="true" >
  </label>
  <label class="item item-input item-stacked-label pitch">
    <span class="input-label big_red_evt">CEP</span>
    <input type="text" ng-model="info.sender.address.postalCode" via-cep="cep" ng-required="true" >
  </label>
  <label class="item item-input item-stacked-labe pitch">
    <span class="input-label big_red_evt">Endereço</span>
    <input type="text" placeholder="Endereço" ng-model="info.sender.address.street" via-cep="logradouro" ng-required="true" >
  </label>
  <label class="item item-input item-stacked-label pitch">
    <span class="input-label big_red_evt">Número</span>
    <input type="number" ng-model="info.sender.address.number" ng-required="true" >
  </label>
  <label class="item item-input item-stacked-label pitch">
    <span class="input-label big_red_evt">Complemento (obrigatório)</span>
    <input type="text" ng-model="info.sender.address.complement" ng-required="true" >
  </label>
  </label>     
  <label class="item item-input item-stacked-label pitch">
    <span class="input-label big_red_evt">Bairro</span>
    <input type="text" placeholder="Bairro" ng-model="info.sender.address.district" via-cep="bairro" ng-required="true" >
  </label>     
    <label class="item item-input item-stacked-label pitch">
    <span class="input-label big_red_evt">Cidade</span>
    <input type="text" placeholder="Cidade" ng-model="info.sender.address.city" via-cep="localidade" ng-required="true" >
  </label>     
  <label class="item item-input item-stacked-label pitch">
    <span class="input-label big_red_evt">Estado</span>
    <input type="text" placeholder="UF" ng-model="info.sender.address.state" via-cep="uf" ng-required="true" >
  </label>
  </div> 
</form>
<div class="row">
  <div class="col-50">
        <button class="button button-assertive myred" ng-click="resetBuyer()">
          Cancelar
        </button>
  </div>
  <div class="col-50">                 
        <button class="button button-positive-900" ng-click="saveBuyer()" ng-disabled="ddForm.$invalid">
          Salvar
        </button>
  </div>
</div>  
      </ion-content>
   </ion-modal-view>
 