<ion-modal-view>
  <ion-header-bar align-title="center" class="flat">
    <h4 class="title texto-branco">SUCESSO!</h4>
    <div class="button button-clear menasfuente" ng-click="bye()"><span class="icon ion-close menasfuente"></span></div>
  </ion-header-bar>
<ion-content class="has-header topito pane no-border" ng-class="{expanded:$scope.isExpanded}" padding>
  <div class="row">
    <div class="col">
      <h4 class="big_red text-center">Sua operação foi concluída com sucesso!</h4>
    </div>
  </div>

  <div class="row">
    <div class="col">
        <div class="icon-finale afana"><img src="img/app_logo.png" alt=""></div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4 class="big_red text-center">Aproveite todas as vantagens do seu aplicativo Yuppi.</h4>
      <button ng-click="bye()" class="button button-full button-assertive-900 myred ink">Sair</button>
    </div>
  </div>      
      </ion-content>
   </ion-modal-view>