   <ion-modal-view>
  <ion-header-bar align-title="center" class="flat">
    <h4 class="title texto-branco">Detalhes do Fornecedor</h4>
  </ion-header-bar>
<ion-content class="has-header topito pane" ng-class="{expanded:$scope.isExpanded}">
<div class="list">
  <div class="item">
    <span class="big_red">Nome:  </span><strong>{{modifItem.nome}}</strong>
  </div>
  <div class="item">
    <span class="big_red">Telefone:  </span><strong>{{modifItem.tel}}</strong>
  </div>
  <div class="item">
    <span class="big_red">Email:  </span><strong>{{modifItem.email}}</strong>
  </div>
  <div class="item">
    <span class="big_red">Tipo:  </span><strong>{{modifItem.tipo}}</strong>
  </div>
  <div class="item" ng-show="modifItem.valor_parcelas">
    <span class="big_red">Valor do Contrato:  </span><strong>{{modifItem.valor_contrato | currency:"R$ "}}</strong>
  </div>
  <div class="item" ng-show="modifItem.forma_pagto">
    <span class="big_red">Forma Pgto:  </span><strong>{{modifItem.forma_pagto}}</strong>
  </div>
  <div class="item" ng-show="modifItem.parcelas">
    <span class="big_red">Nº de Parcelas:  </span><strong>{{modifItem.parcelas}}</strong>
  </div>
  <div class="item" ng-show="modifItem.valor_parcelas">
    <span class="big_red">Valor das Parcelas:  </span><strong>{{modifItem.valor_parcelas | currency:"R$ "}}</strong>
  </div>
</div>
<div class="list" ng-show="modifItem.parcelamento">
<div class="item">
<span class="big_red">Nº de Parcelas:  </span>
(Clique para indicar o pagamento).
</div>
 <div class="item" ng-repeat="parsec in modifItem.parcelamento">
              <div class="tipple" ng-click="!asInvited && doneClicked($index, parsec)" >
            <i class="icon ion-android-checkbox-outline-blank minus chegaprala" ng-show="!parsec.pg"></i>
            <i class="icon ion-android-checkbox-outline minus assertive chegaprala" ng-show="parsec.pg"></i>
            <span class="newIt" ng-class="{complete: task.pg == true}"><strong>{{parsec.parcela | currency:"R$ "}}</strong> em {{parsec.venc |date: 'dd/MM/yyyy'}}</span>
            </div>
 </div> 
</div>
  <div class="item" ng-hide="asInvited">
     <div class="buttons text-right">
         <button class="button button-fab button-assertive myred awayBut" ng-click="delEvento()">
            <i class="icon icon ion-trash-a"></i>
        </button>               
        <button class="button button-fab button-positive-900 awayBut" ng-click="cancelTask(2)">
            <i class="icon icon ion-checkmark"></i>
        </button>
    </div>
  </div>
      </ion-content>
   </ion-modal-view>