   <ion-modal-view>
  <ion-header-bar align-title="center" class="flat">
    <h4 class="title texto-branco">Detalhes da Pessoa</h4>
  </ion-header-bar>
<ion-content class="has-header topito pane" ng-class="{expanded:$scope.isExpanded}">
<div class="list">
  <div class="item">
    <span class="big_red">Nome:  </span><strong>{{modifItem.nome}}</strong>
  </div>
  <div class="item">
    <span class="big_red">Telefone:  </span><strong>{{modifItem.tel}}</strong>
  </div>
  <div class="item">
    <span class="big_red">Email:  </span><strong>{{modifItem.email}}</strong>
  </div>
</div>

<div class="item">
</div>  

  <div class="item" ng-hide="asInvited">
     <div class="buttons text-right">
         <button class="button button-fab button-assertive myred awayBut" ng-click="delEvento()">
            <i class="icon icon ion-trash-a"></i>
        </button>               
        <button class="button button-fab button-positive-900 awayBut" ng-click="cancelTask(2)">
            <i class="icon icon ion-checkmark"></i>
        </button>
    </div>
  </div>
      </ion-content>
   </ion-modal-view>